<h5 align="center"><#ratingqty> customer reviews</h5> Product Code to use later:<#ENTITYCD>

<table>
<#RATINGS>
</table>

Average Rating: <#avgrating format="#.##">%</br>
Number of Comments: <#ratingqty><br>

<!--<div class="rating_bar">
  <div style="width:<#AVGRATEPERCENT>%"></div>
</div>-->


<!--<div class="rating_bar2">
  <div style="width:<#AVGRATEPERCENT>%"> <#avgrating> (<#AVGRATEPERCENT>%)  </div>
</div>-->


<!--<div class="rating_star<#AVGRATEROUNDED>"></div>-->

<p align="center"><a href="list?ENTITYCD=<#ENTITYCD>&ENTITYTYPECD=<#ENTITYTYPECD>&SORT=ENTERTMS DESC"> See all <#ratingqty> customer reviews</a></p>