<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.htm" />
                <add value="default.htm" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" />
        <handlers accessPolicy="Read, Execute, Script" />
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
    </system.webServer>
		<location allowOverride="false">
<system.web>
<customErrors mode="On" defaultRedirect="~/error.html" />
</system.web>
</location>
</configuration>
