<h2>Job Information</h2>
<dl class="profile">
  <dt>Job Number</dt>
  <dd><#CONTRACTNUM></dd>
  <dt>Job Title</dt>
  <dd><#JOBTITLE_AC></dd>
  <dt>Job Starts</dt>
  <dd><#JOBSTARTONTXT></dd>
  <dt>Salary Min.</dt>
  <dd>$<#JOBSALARLYMINAMT></dd>
  <dt>Salary Max</dt>
  <dd>$<#JOBSALARYMAXAMT></dd>
  <dt>Min. Education</dt>
  <dd><#JOBEDUCATIONMINDEGREE></dd>
  <dt>Min. GPA</dt>
  <dd><#JOBGPAMINAMT></dd>
  <dt>Min. Years of Exp.</dt>
  <dd><#JOBYEARSMINEXPERIENCEAMT></dd>
  <dt>Required Skills</dt>
  <dd><#JOBREQUIREDSKILLSLST></dd>
  <dt>Preferred Skills</dt>
  <dd><#JOBPREFERREDSKILLSLST></dd>
  <dt>Job Major Cat.</dt>
  <dd><#JOBMAJORCAT></dd>
  <dt>Job City</dt>
  <dd><#JOBCITY></dd>
  <dt>Job State</dt>
  <dd><#JOBSTATE></dd>
  <dt>Job Country</dt>
  <dd><#JOBCOUNTRY></dd>
  <dt>Job Description</dt>
  <dd><#ADVCOPYTEXT></dd>
  <dt>Web Site</dt>
  <dd><#JOBCONTACTWWWADDRESS></dd>
  <p class="clear"></p>
</dl>
<h3>Contact Information</h3>
<dl class="profile">
  <dt>Contact Name</dt>
  <dd><#JOBCONTACTNAME></dd>
  <dt>Job Title</dt>
  <dd><#JOBTITLE></dd>
  <dt>Address</dt>
  <dd><#JOBCONTACTADDRESS></dd>
  <dt>Contact Phone</dt>
  <dd><#JOBCONTACTPHONE></dd>
  <dt>Contact Fax</dt>
  <dd><#JOBCONTACTFAX></dd>
  <dt>Contact Email</dt>
  <dd><#JOBCONTACTEMAIL></dd>
  <dt>Preferred Notification Mode</dt>
  <dd><#JOBCONTACTMETHOD></dd>
  <p class="clear"></p>
</dl>
<div class="buttons">
  <a href="../../cgi-bin/JobBoard.dll/Info?CONTRACTNUM=<#CONTRACTNUM>&WRP=JobDetail_Update.htm&WMT=none" class="button">Edit Posting </a>
</div>