 <tr>
<td><select name="<#DEGREE ISFIELDNAME=Y>" value="<#DEGREE>"><option><#RTVEDUCATIONLEVELREFSCVEDUCATIONDEGREEFLTTYPECDFLVEDUC></option>
  </select></td>
     
<td> <input name='<#INSTITUTION ISFIELDNAME=Y>' type=text id="<#INSTITUTION ISFIELDNAME=Y>" value='<#INSTITUTION>'></td>
<td> <input name="<#MAJOR ISFIELDNAME=Y>" type="text" id="<#MAJOR ISFIELDNAME=Y>" value="<#MAJOR>"></td>
<td> <input name="<#DEGREEYEAR ISFIELDNAME=Y>" type="text" id="<#DEGREEYEAR ISFIELDNAME=Y>" value="<#DEGREEYEAR>"></td>
</tr>
  <input type="hidden" name='<#TYPECD ISFIELDNAME=Y>' value="<#GROUPNAME>" />