
<table border="0" cellpadding="0" cellspacing="0" width="457" bgcolor="#FFFFFF" class="body">
  <tr>
    <td width="56"><h2 align="right" class="style1">NAME</h2></td>
    <td width="22" rowspan="2" background="http://www.engineers.org/images/line_20px.gif">&nbsp;</td>
    <td width="379"><h2><a href="http://www.engineers.org/euclid/cgi-bin/jobboard.dll/ApplDetail?JOBAPPNUM=<#JOBAPPNUM>" class="style2"><#FIRSTNAME> <#MIDDLEINIT> <#LASTNAME></a></h2>      </td>
  </tr>
  <tr>
    <td height="14" valign="top" class="text"><div align="right" class="style3">SKILLS</div></td>
    <td valign="top" class="text"><p class="style3"><#JOBREQUIREDSKILLSDSC></p></td>
  </tr>
  <tr valign="bottom">
    <td height="19" colspan="3">
      <h2 align="center"><img src="http://www.engineers.org/images/line_425px_10.gif" width="450" height="10" align="bottom"></h2></td>
  </tr>
</table>

