<h2>Job Posting Detail</h2>
<p>Thank you for submitting your job opportunity.</p>
<h4><#CONTRACTNUM>: <#JOBTITLE_AC></h4>
<table>
	<tr>
	<td>Job Starts</td>
	<td><#JOBSTARTONTXT></td>
	</tr><tr>
	<td>Salary Range</td>
	<td><#JOBSALARYMINAMT> - <#JOBSALARYMAXAMT></td>
	</tr><tr>
	<td>Minimum Education</td>
	<td><#JOBEDUCATIONMINDEGREE"></td>
	</tr><tr>
	<td>Job Major Category</td>
	<td><#JOBMAJORCAT"></td></tr><tr>
	<td>City</td>
	<td><#JOBCITY></td></tr><tr>
	<td>State</td>
	<td><#JOBSTATE></td></tr><tr>
	<td>Country</td>
	<td><#JOBCOUNTRY></td></tr><tr>
	<td>Web Site</td>
	<td><#JOBCONTACTWWWADRESS></td></tr><tr>
	<td>Job Description</td>
	<td><#ADVCOPYTEXT></td>
</tr></table>

<h4>Contact Information</h4>
<table>
	

<tr>
	<td>Contact Name</td>
	<td><#JOBCONTACTNAME></td></tr><tr>
	<td>Job Title</td>
	<td><#JOBTITLE></td></tr><tr>
	<td>Address</td>
	<td><#JOBCONTACTADDRESS></td></tr><tr>
	<td>Contact Phone</td>
	<td><#JOBCONTACTPHONE></td></tr><tr>
	<td>Contact Fax</td>
	<td><#JOBCONTACTFAX></td></tr><tr>
	<td>Contact Email</td>
	<td><#JOBCONTACTEMAIL></td></tr><tr>
	<td>Best Method of Contact</td>
	<td><#JOBCONTACTMETHOD></td></tr><tr>
	</tr>
</table>

<h4>Payment Information</h4>
<table>
	

<tr>
	<td>Transaction ID</td>
	<td><#INVOICENUM></td></tr><tr>
	<td>Payment Type</td>
	<td><#PAYMENTTYPECD></td></tr><tr>
	<td>Credit Card # (last 4 digits)</td>
	<td><#PAYMENTREFNUM></td></tr><tr>
	<td>Total Amount Paid</td>
	<td><#TOTALAMT></td></tr></table>