<h2>Job Posting Detail</h2>
<p>Thank you for submitting your job opportunity</p>
<h4><#CONTRACTNUM>: <#JOBTITLE_AC></h4>
<dl class="profile">
	<dt>Job Starts</dt>
	<dd><#JOBSTARTONTXT></dd>
	<dt>Salary Range</dt>
	<dd><script>
if ("<#JOBSALARYMINAMT>" == "")
{
	document.write('no minimum salary specified - ');
}
if ("<#JOBSALARYMINAMT>" != "")
{
	document.write("<#JOBSALARYMINAMT> - ");
}
if ("<#JOBSALARYMAXAMT>" == "")
{
	document.write('no maximum salary specified');		   
}

if ("<#JOBSALARYMAXAMT>" != "")
{
	document.write("<#JOBSALARYMAXAMT>");
}



</script></dd>
	<dt>Minimum Education</dt>
	<dd><#JOBEDUCATIONMINDEGREE"></dd>
	<dt>Job Major Category</dt>
	<dd><#JOBMAJORCAT"></dd>
	<dt>City</dt>
	<dd><#JOBCITY></dd>
	<dt>State</dt>
	<dd><#JOBSTATE></dd>
	<dt>Country</dt>
	<dd><#JOBCOUNTRY></dd>
	<dt>Web Site</dt>
	<dd><#JOBCONTACTWWWADRESS></dd>
	<dt>Job Description</dt>
	<dd><#ADVCOPYTEXT></dd>
	<p class="clear"></p>
</dl>
<h4>Contact Information</h4>
<dl class="profile">
	<dt>Contact Name</dt>
	<dd><#JOBCONTACTNAME></dd>
	<dt>Job Title</dt>
	<dd><#JOBTITLE></dd>
	<dt>Address</dt>
	<dd><#JOBCONTACTADDRESS></dd>
	<dt>Contact Phone</dt>
	<dd><#JOBCONTACTPHONE></dd>
	<dt>Contact Fax</dt>
	<dd><#JOBCONTACTFAX></dd>
	<dt>Contact Email</dt>
	<dd><#JOBCONTACTEMAIL></dd>
	<dt>Best Method of Contact</dt>
	<dd><#JOBCONTACTMETHOD></dd>
	<p class="clear"></p>
</dl>
<h4>Payment Information</h4>
<dl class="profile">
	<dt>Transaction ID</dt>
	<dd><#INVOICENUM></dd>
	<dt>Total Amount Paid</dt>
	<dd><#TOTALAMT></dd>
	<p class="clear"></p>
</dl>