       
	   <h2>Resume Detail </h2>
	   <dl class="profile">
		<dt>First Name</dt>
		<dd><#FIRSTNAME></dd>
		<dt>Middle Name</dt>
		<dd><#MIDDLEINITIAL></dd>
		<dt>Last Name</dt>
		<dd><#LASTNAME></dd>
		<dt>Address</dt>
		<dd><#ADDRESS1></dd>
		<dt> Suite/Apt</dt>
		<dd><#ADDRESS2></dd>
		<dt>City</dt>
		<dd><#CITY></dd>
		<dt>State</dt>
		<dd><#STATECD></dd>
		<dt>Zip</dt>
		<dd><#ZIP></dd>
		<dt>Country</dt>
		<dd><#COUNTRY></dd>
		<dt>Phone</dt>
		<dd><#WORKPHONE></dd>
		<dt>Fax</dt>
		<dd><#FAXPHONE></dd>
		<dt>Email</dt>
		<dd><#EMAIL></dd>
		<dt>Availability </dt>
		<dd><#JOBSTARTDATE> <a href="javascript:NewCal('JOBSTARTDATE','mmddyyyy')"></a></dd>
		<dt>Min. Salary</dt>
		<dd><#MINSALARYAMT></dd>
		<dt>Highest Degree</dt>
		<dd><#EDUCATIONDEGREE></dd>
		<dt>Resume</dt>
		<dd><#RESUMETEXT></dd>
		<dt>Download Resume</dt>
		<dd><a href="../../cgi-bin/documentdll.dll/view?DOCUMENTNUM=<#RESUME_DOCNUM>">View Resume</a></dd>
		<p class="clear"></p>
	   </dl>
  