
<h2><#MLGLBL TEXT="Forgot Password Form"> </h2>
<div class="formIntro">
	<p>If you have lost or forgotten your password, please enter your username, last name, zip code and email address in the space below. A temporary password will be sent to the email address that we have on file.
		</p>
      <p><a href="../utilities.dll/openpage?wrp=userRequestForm.htm">Lost/Forgot your username?</a></p>
</div>
<form name="abc" id="abc" method="post" action="../ReturnPassword.dll/forgotPwd">
		<fieldset><ul>
	<li>
		<label for="WEBUSERID" class="required"><#MLGLBL TEXT="Username"></label>
		<input name="WEBUSERID" type="text" value="" id="UserId" class='reqField' >
	</li>
	<li>
		<label for="EMAIL" class="required"><#MLGLBL TEXT="Email"></label>
		<input name="EMAIL" type="text" value="" id="Email" class='reqField' >
	</li>
	</ul>	</fieldset>  
	<div class="buttons">
		
		<input name="Button" type="submit" value="Send Login Information">
	</div>	
		
       <input type="hidden" name="SENDEMAIL" value="Y" />
	  <input type="hidden" name="EMAILSUBJECT" value="Temporary Password Request"/>
      <input type="hidden" name="EMAILFROMADDRESS" value="info@domain.org"/>
	  <input type="hidden" name="EMAILRESPONSEFORMAT" value="HTML" />
	  </form>
	  
	  <script>
 $(function() { 
        $("#abc").validity(function() {
            $(".reqField").require("#{field} is required.");
			$("#Email").require().match("email","Please enter your email address in the correct format. XXX@XXX.XXX");
            
			
			
		
        });
    });
</script>