
<h1 class="title">Account Summary</h1>
<script>
console.log( "Ready to set title!") ;
setTitle(); </script>

<ul data-role="listview" data-count-theme="c" data-inset="true">
         <li>
            Total Invoices
            <span class="ui-li-count"><#ORDERS></span>
        </li>
        <li>
            Outstanding Invoices
            <span class="ui-li-count"><#INVOICED></span>
        </li>
        <li>
            Outstanding Dues
            <span class="ui-li-count"><#DUESPAYMENTS></span>
        </li>
        <li>
            Current Event Registrations
            <span class="ui-li-count"><#SESSIONS></span>
        </li>
        <!-- <li>
            Active Job Postings
            <span class="ui-li-count"><#JOBS></span>
        </li> -->
       <!--  <li>
            Resumes
            <span class="ui-li-count"><#RESUMES></span>
        </li> -->
      <!--   <li>
            Action Items
            <span class="ui-li-count"><#ACTIONS></span>
        </li> -->
        <li>
            Active Subscriptions
            <span class="ui-li-count"><#SUBSCRIPTIONS></span>
        </li>
        <li>
            Certifications
            <span class="ui-li-count"><#CERTIFICATIONS></span>
        </li>
        <li>
            Committees
            <span class="ui-li-count"><#COMMITTEES></span>
        </li>
</ul>

