<input type="hidden" name="ORGNAME" value="<#ORGNAME>">
<input type="hidden" name="ADDRESS1" value="<#ADDRESS1>">
<input type="hidden" name="ADDRESS2" value="<#ADDRESS2>">
<input type="hidden" name="CITY" value="<#CITY>">
<input type="hidden" name="STATECD" value="<#STATECD>">
<input type="hidden" name="ZIP" value="<#ZIP>">	
<input type="hidden" name="COUNTRY" value="<#COUNTRY>">
<input type="hidden" name="WORKPHONE" value="<#WORKPHONE>">
<input type="hidden" name="EMAIL" value="<#EMAIL>">
<input type="hidden" name="ISMEMBERFLG" value="<#ISMEMBERFLG>">
<input type="hidden" name="ORGTYPE" value="<#ORGTYPE>">
<input type="hidden" name="STATUSSTT" value="<#STATUSSTT>">
<tr>
  <td><#ORGCD></td>
  <td>	
	
	<a href="#" id="<#ORGCD>" name="<#ORGCD>" onClick="closeOrgSearchWindow(this.name);"><#ORGNAME></a>
	</td>
  <td><#CITY></td>
  <td><#STATECD></td>
</tr>