<input type="hidden" name="ORGNAME" value="<#ORGNAME>">
<input type="hidden" name="ADDRESS1" value="<#ADDRESS1>">
<input type="hidden" name="ADDRESS2" value="<#ADDRESS2>">
<input type="hidden" name="CITY" value="<#CITY>">
<input type="hidden" name="STATECD" value="<#STATECD>">
<input type="hidden" name="ZIP" value="<#ZIP>">	
<input type="hidden" name="COUNTRY" value="<#COUNTRY>">
<input type="hidden" name="WORKPHONE" value="<#WORKPHONE>">
<input type="hidden" name="EMAIL" value="<#EMAIL>">
<input type="hidden" name="ISMEMBERFLG" value="<#ISMEMBERFLG>">
<input type="hidden" name="ORGTYPE" value="<#ORGTYPE>">
<input type="hidden" name="STATUSSTT" value="<#STATUSSTT>">
<tr>
  <td><#ORGCD></td>
  <td>	
	
	
	<a href="#popupDialog" data-rel="popup" data-position-to="window" data-transition="pop" id="<#ORGCD>" name="<#ORGCD>"><#ORGNAME></a>
	
	<div data-role="popup" id="popupDialog" data-overlay-theme="a" data-theme="c" style="max-width:400px;" class="ui-corner-all">
			<div data-role="header" data-theme="a" class="ui-corner-top">
				<h1>Replace Address?</h1>
			</div>
			<div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
				<h3 class="ui-title">This will replace your address information with this organization's address. OK to replace?</h3>
				<a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c" onclick="closeOrgWindow('<#ORGCD>', false)">Keep My Address</a>    
				<a href="#" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b" onclick="closeOrgWindow('<#ORGCD>', true);$('#divConfirm_<#ORGCD>').dialog( 'close' );">Replace Address</a>  
			</div>
		</div>
	
	</td>
  <td><#CITY></td>
  <td><#STATECD></td>
</tr>