
<h3>Organization Membership Application Confirmation</h3>
<div class="formIntro">
    <p>Your membership items have been added to the shopping cart, and your organization profile has been updated with the below information. </p>
    <p>Note: Your organization will not be a full member until you have paid for your shopping cart items.</p>
    <ul>
        <li><a href="../msascartdll.dll/showcart">View Cart</a></li>
        <li><a href="../msascartdll.dll/productlist?onwebflg=Y&range=1/25&instockstt=Y&COLUMNS=2">Shop for Products</a></li>
    </ul>
</div>

<#SECTION NAME="ORG_basicInfo_confirm.htm" >

<#SECTION NAME="ORG_contactInfo_confirm.htm" >



