
<h3>Your location has successfully been added.</h3>
<form name="locAdd" method="post" action="EventView">



      	<!-- start table one -->
      	<table>
  		  <tr>
  		    <td>Location Name:</td>
  		    <td><#LOCATIONNAME></td>
	      </tr>
  		  <tr>
  		    <td>Contact Name:</td>
  		    <td>
		    <#CONTACTNAME> </td>
	      </tr>
  		  <tr>
  		    <td>Position:</td>
  		    <td>   <#JOBTITLE> </td>
	      </tr>
  		  <tr>
  		    <td>Location Phone:</td>
  		    <td><#CONTACTPHONE> </td>
	      </tr>
  		  <tr>
  		    <td>Fax Phone:</td>
  		    <td>
   			<#CONTACTFAXPHONE> </td>
	      </tr>
  		  <tr>
  		    <td>E-mail:</td>
  		    <td><#CONTACTEMAIL> </td>
	      </tr>
  		  <tr>
  		    <td>Address:</td>
  		    <td><#ADDRESS1></td>
	      </tr>
  		  <tr>
  		    <td>Suite/Apt:> </td>
	      </tr>
  		  <tr>
  		    <td>City:</td>
  		    <td><#CITY> </td>
	      </tr>
  		  <tr>
  		    <td>State:</td>
  		    <td> <#STATECD> </td>
	      </tr>
  		  <tr>
  		    <td>ZIP:</td>
  		    <td><#ZIP> </td>
	      </tr>
  </table>
    
       	
		     
		        <p><strong>GO TO STEP 2:</strong>	
		          <input type="submit" class="searchButton"  value="Enter Event Information">
  </p>
        

</form>
