
<!-- START CALENDAR -->
<h2>Event Calendar</h2>
<div class="cartnav">
		<div class="nav1"><h5>&nbsp;<#PREVMONTH></h5></div>
		<div class="nav2"><h5><#MONTH MLGAT="Y"></h5></div>
		<div class="nav3"><h5><#NEXTMONTH>&nbsp;</h5></div>
		<div class="clear"></div>
	</div>
<table class="calendar">
  <tr>
    <th><#MLGLBL TEXT="Sunday"></th>
    <th><#MLGLBL TEXT="Monday"></th>
    <th><#MLGLBL TEXT="Tuesday"></th>
    <th><#MLGLBL TEXT="Wednesday"></th>
    <th><#MLGLBL TEXT="Thursday"></th>
    <th><#MLGLBL TEXT="Friday"></th>
    <th><#MLGLBL TEXT="Saturday"></th>
  </tr>
   <#CONTENT>
</table>

<!-- END CALENDAR -->
