<table border="1" cellpadding="0" cellspacing="0" width="770" bordercolor="#000000" class="body">
  <tr>
    <td width="110" a1lgn="left"><#PACKAGENAME></td>
    <td width="100" align="left"><#PACKAGECD></td>
    <td width="210" align="left"><#PACKAGEDESC></td>
    <td width="80" align="left">$<#PACKAGEPRICEAMT></td>
    <td width="80" align="left"><a href="PkgInfo?PACKAGECD=<#PACKAGECD>">Info</a></td>
    <td width="80" align="left"><a href="../registerdll.dll/pkgform?PACKAGECD=<#PACKAGECD>">Register</a></td>
  </tr>
</table>
