<table width="298" border="1" cellpadding="2" cellspacing="2" bordercolor="#000000">
  <tr>
    <td width="227" bordercolor="#FFFFFF"><p><#FIRSTNAME> <#LASTNAME><br />
      <strong><#JOBTITLE>, <#ORGNAME></strong>  <br />  
    <strong>Session: </strong>
    <p> <a href="mailto:<#email>"></a></td>
    <td width="51" valign="top" bordercolor="#FFFFFF"><img src="../../images/<#LASTNAME>_<#FIRSTNAME>.jpg" alt="Speaker Image" align="top" /></td>
  </tr>
  <tr>
    <td colspan="2" bordercolor="#FFFFFF"><a href="mailto:&lt;#email&gt;"><#EMAIL></a></td>
  </tr>
  
</table>
