<!-- <h2>Transaction History - <#RECORDCOUNT> Invoice(s)</h2> -->
 <h2 class="title">Transaction History</h2>
<!-- <div class="cartnav">
  <div class="nav1"><#PREVNAV>&nbsp;</div>
  <div class="nav2"><#LISTNAV></div>
  <div class="nav3"><#NEXTNAV>&nbsp;</div>

</div>
 -->
    <!-- <th>Invoice #</th>
    <th>Payee Name</th>
    <th>Invoice Date</th>
    <th>Invoice Total</th>
    <th>Amount Paid</th>
    <th>Balance Due</th> -->
<ul data-role="listview" data-inset="false" data-filter="true" data-filter-placeholder="Filter Invoices...">
    <#CONTENT>
</ul>


<div class="cartnav">
  <div class="nav1"><#PREVNAV>&nbsp;</div>
  <!-- <div class="nav2"><#LISTNAV>&nbsp;</div> -->
  <div class="nav3"><#NEXTNAV>&nbsp;</div>
  <div class="clear"></div>
</div>
