<h2>Membership Dues Invoice</h2>
<p>Please print out this invoice and send it to us, along with your payment, to complete this transaction.</p>
<SCRIPT> 
if (window.print) { document.write('<input type="button" name="print" class="submit" value="Print This Page" onClick="javascript:window.print()">'); }</script>
<dl class="profile">
    <dt>Member ID</dt><dd><#CUSTOMERCD></dd>
    <dt>Invoice #</dt><dd><#INVOICENUM></dd>
    <dt>Member Name</dt><dd><#FIRSTNAME> <#LASTNAME></dd>
    <dt>Address</dt><dd><#ADDRESS1><br>
      <#CITY>, <#STATECD>, <#ZIP></dd>
    <dt>Balance Due</dt>
    <dd>$<#TOTALAMT FORMAT=0.00></dd>
    <p class="clear"></p>
</dl>
<h4>Invoice Items</h4>
<table class="gutters">
    <tr>
        <th>Item ID</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
    </tr>
    <#INVOICEITEM>
</table>
<p></p>
<h4>Payment Options</h4>
<dl class="profile">
    <dt>Check</dt><dd><input type="checkbox" name="checkbox" value="checkbox"></dd>
    <dt>Credit Card</dt><dd><input type="checkbox" name="checkbox" value="checkbox"></dd>
    <p class="clear"></p>
</dl>
<h4>Credit Card Information</h4>
<dl class="profile">
    <dt>Visa</dt><dd><input type="checkbox" name="checkbox" value="checkbox"></dd>
    <dt>Master Card</dt><dd><input type="checkbox" name="checkbox" value="checkbox"></dd>
    <dt>American Express</dt><dd><input type="checkbox" name="checkbox" value="checkbox"></dd>
    <dt>Discover</dt><dd><input type="checkbox" name="checkbox" value="checkbox"></dd>
    <dt>Card Number</dt><dd>__________________________________________</dd>
    <dt>Exp Date</dt><dd>________/_________</dd>
    <dt>Total Payment</dt><dd>$ __________________________________________</dd>
     <dt>Signature</dt><dd>__________________________________________</dd>
    
    <p class="clear"></p>
</dl>
  
<div class="buttons"><a href="javascript:history.go(-1)" class="button">Return to Invoice</a> </div>




