<style type="text/css">
<!--
.style1 {color: red;
		 font-weight: bold}
-->
</style>
<tr <#BGCOLOR>>
    <td width="75"><a href="../actionItems.dll/Info?listitemnum=<#LISTITEMNUM>&RESPONSEPAGE=General_ActionItemsInfo.htm"><#LISTITEMNUM></a></td>
    <td width="100"><#FULLNAME>&nbsp;</td>
    <td width="100"><#ACTIONSTT>&nbsp;</td>
	<td><#ACTIONASSIGNEDDATE>&nbsp;</td>
	<td><script>
				if 
					(<#ACTIONPRIORITY> == 1)
					{
					document.write("<span class='style1'>High</span>");
					}
				if 
					(<#ACTIONPRIORITY> == 2)
					{
					document.write("Medium");
					}
				if 
					(<#ACTIONPRIORITY> == 3)
					{
					document.write("Low");
					}
					
				</script>&nbsp;</td>
	<td><#ACTIONCOMMENTS>&nbsp;</td> 
</tr>