<p>
<h1>Support Request Submitted </h1></p>
<p>Dear <#FULLNAME>,</p>

 <p>Thank you for your request. We  will contact you within the next 72 hours. If this is a high priority request,  someone will contact you within 1 business day. For tracking purposes, please make sure you make a note of your support request ID number <#LISTITEMNUM>. You can view or update your request by clicking <a href="/support/MyHomepage.aspx" target="_parent">here</a>.</p>
<p>You will receive an email shortly  to confirm receipt of your request. </p>
 <p>You can view or update your request by clicking <a href="/support/MyHomepage.aspx" target="_parent">here</a>.</p>
 <p>You may return to your service home page by clicking <a href="/Support/ActionItem.aspx?cv_ActionItem=<#LISTITEMNUM>" target="_parent">here</a>.</p>
 <p>To add another action item, please click <a href="/cvweb/cgi-bin/memberdll.dll/Info?wrp=customerSupport.htm">here</a></p>
<p>Sincerely, </p>
 <p>Euclid Technology Staff<strong>&nbsp;</strong></p>