<p>
<h1>Support Request Submitted </h1></p>
<p>Dear <#FULLNAME>,</p>

 <p>Thank you for your request. We  will contact you within the next 72 hours. If this is a high priority request,  someone will contact you within 1 business day. For tracking purposes, please make sure you make a note of your support request ID number <#LISTITEMNUM>.</p>
 <p>You will receive an email shortly  to confirm receipt of your request. </p>
 <p>If you would like to submit another action item, please select Support Home on the left navigation bar. </p>
 <p>Sincerely, </p>
 <p>Euclid Technology Staff&nbsp;</p>
