
  <h2>Registration Info</h2>
   <form name="order" id="addFunc" method="POST" action="../Registerdll.dll/AddFunctions">
	<dl class="profile">
	 <dt>Confirmation ID:</dt>
	 <dd><#ASSIGNEDSESSIONCD></dd>
	 
	 <dt>Customer ID:</dt>
	 <dd><#CUSTOMERCD></dd>
	 
	 <dt>Customer Name :</dt>
	 <dd><#CUSTOMERNAME></dd>
	 
	 <dt>Event Name:</dt>
	 <dd><#SESSIONNAME></dd>
	 
	 <dt>Location Name:</dt>
	 <dd><#LOCATIONNAME></dd>
	 <dt>City:</dt>
	 <dd><#LOCATIONCITY></dd>
	 <dt>State:</dt>
	 <dd><#LOCATIONSTATECD></dd>
	 <p class="clear"></p>
</dl>
<fieldset>
	 <legend>Enrolled Functions</legend>

<table class="gutters">
	 <tr>
		  <th>Name</th>
		  <th>Total Amount</th>
	 </tr>
		  <#ENROLLEDFUNCTIONS>
</table>
</fieldset>
<fieldset>
	 <legend>Functions Added</legend>
	 <table class="gutters">
	 <tr>
		  <th>Name</th>
		  <th>Price</th>
		  <th>Total Amout</th>
	 </tr>
		  <#NEWFUNCTIONS>
	 </table>
</fieldset>
<fieldset>
   
	 <legend>Totals</legend>
	 <ul class="right prices">
		<li><label for="PAIDAMT"><#MLGLBL TEXT="Paid Amount:"></label>
		<#PAIDAMT FORMAT="$0.00">
		</li>
		<li><label for="ADDEDAMT"><#MLGLBL TEXT="Balance Due:"></label>
		<#ADDEDAMT FORMAT="$0.00">
		</li>
	 </ul>
</fieldset>
	 <div class="payment">
        <input type="hidden" name="RESPONSEPAGE" value="AddFuncConfirmPage.htm">
	<#INCLUDE DLL="utilities.dll" ACT="nextForm" WRP="INCLUDE_payment.htm"  PARAMS="CUSTOMERCD">
<div class="buttons">
		<input name="button" type="submit" value="Update Registration">
	</div>
<div class="missing" style="display: none;">
        <p>Required fields are missing. Please fill those in before continuing.</p>
    </div>
	 </div>
  			<input type="hidden" name="ASSIGNEDSESSIONCD" value="<#ASSIGNEDSESSIONCD>">    
			<input type="hidden" name="FUNCTIONSADDED" value="<#FUNCTIONSADDED>">  
			<input type="hidden" name="CHECKFUNCTIONDUP" value="N">  
			<input type="hidden" name="PROCESSONLINECREDIT" value="N">
			<input type="hidden" name='ISSUEBILLFLG' value="N">
            <input type="hidden" name="FIRSTNAME" value="<#FIRSTNAME>">
            <input type="hidden" id="FCOMMENTS" name="FCOMMENTS" value="<#FCOMMENTS>">
	<input type="hidden" name="LASTNAME" value="<#LASTNAME>">
	<input type="hidden" name="ADDRESS1" value="<#ADDRESS1>">
	<input type="hidden" name="ADDRESS2" value="<#ADDRESS2>">
	<input type="hidden" name="CITY" value="<#CITY>">
	<input type="hidden" name="STATECD" value="<#STATECD>">
	<input type="hidden" name="ZIP" value="<#ZIP>">
	<input type="hidden" name="COUNTRY" value="<#COUNTRY>">
    <input type="hidden" name="SENDEMAIL" id="SENDEMAIL" value="Y" />
    <input type="hidden" name="EMAILFROMADDRESS" value="admin@domain.org" />
    <input type="hidden" name="EMAILRESPONSEFORMAT" value="HTML" />
    <input type="hidden" name="EMAILSUBJECT" value="<#SESSIONNAME>: Function Registration Confirmation">
    <input type="hidden" name="EMAILREPLYFORM" value="AddFuncConfirm_email.htm">
    <input type="hidden" name="ISSUEBILLFLG" value="N">
        
  </form>   
  <script>
$(function() { 
        $("#addFunc").validity(function() {
            $(".reqField").require("#{field} is required.");
            
		});
    });
</script>