<h2>My Registered Events</h2>




<!-- <table class="gutters" id="myTable">
    <thead>
  <tr>

    <th>Event Name</th>
    <th>Date</th>
  <th>Location</th>
   <th>State</th>
  <th>Edit</th>
    <th>Agenda</th>
  </tr></thead>
    <tbody>

    </tbody>
</table> -->

<ul data-role="listview" data-inset="true" data-filter="true"  data-filter-placeholder="Filter Events...">
  <#CONTENT>
  </ul>

<div class="cartnav">
		<div class="nav1">&nbsp;<#PREVNAV></div>
		<div class="nav2"><#LISTNAV></div>
		<div class="nav3"><#NEXTNAV>&nbsp;</div>
		<div class="clear"></div>
	</div>


