<!-- <tr>
  <td><#CUSTOMERNAME></td>
  <td><a href="../eventsdll.dll/EventInfo?sessionaltcd=<#SESSIONALTCD>"><#SESSIONNAME></a></td>
  <td><#SESSIONBEGDATE></td>
 <td><#LOCATIONCITY>, <#LOCATIONSTATECD></td>
 <td><#LOCATIONSTATECD></td>
  <td><a href="../../cgi-bin/Registrationdll.dll/Info?assignedsessioncd=<#ASSIGNEDSESSIONCD>">Edit</a></td>
  <td><a href="#">Print</a></td>
</tr> -->




	<li data-role="list-divider" data-theme="a"><#SESSIONBEGDATE><span class="ui-li-count">Event</span>
    </li>
	<li><a href="../eventsdll.dll/EventInfo?sessionaltcd=<#SESSIONALTCD>&wrp=regEventInfo.htm">
		<h2><#SESSIONNAME> </h2>
		<p><strong><#LOCATIONCITY>, <#LOCATIONSTATECD></strong></p>
		</a>
	</li>


