<script language="javascript" type="text/javascript" src="../../js/clientSide.js"></script>


<h3>Your application has been received.</h3>
<p>Thank you for applying.<br />Make sure you check your email for a confirmation letter.</p>

<table align='left'>
  <tr>
	<td class="highlight" colspan="2"><b>Application Summary</b></td>
  </tr>
  
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
	<td><strong>Name</strong></td>
	<td><#FIRSTNAME> <#LASTNAME></td>
  </tr>
  <tr>
	<td><strong>Street</strong></td>
	<td><#ADDRESS1></td>
  </tr>
  <tr>
	<td><strong>Apt/Suite</strong></td>
	<td><#ADDRESS2></td>
  </tr>
  <tr>
	<td><strong>City</strong></td>
	<td><#CITY></td>
  </tr>
  <tr>
	<td><strong>State</strong></td>
	<td><#STATECD></td>
  </tr>
  <tr>
	<td><strong>Zip</strong></td>
	<td><#ZIP></td>
  </tr>
  <tr>
	<td><strong>Membership ID</strong></td>
	<td><#CUSTOMERCD></td>
  </tr>
  <tr>
	<td><strong>Membership Type&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;</td>
	<td><#CUSTOMERTYPE></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
	<td><strong>Total Price</strong></td>
	<td>$<#TOTALAMT></td>
  </tr>
  <tr>
  	<td colspan='2'><b><a href="../Invoicedll.dll/Info?invoicenum=<#INVOICENUM>">Click here for details on your order...</a></b></td>
   </tr>
</table>


<br /><br />
