<h2>Membership Order Invoice</h2>
<p>Thank you for your order. Please print out this invoice and send it to us, along with your payment, to complete this order.</p>
<SCRIPT> 
if (window.print) { document.write('<input type="button" name="print" class="submit" value="Print This Page" onClick="javascript:window.print()">'); }</script>
<dl class="profile">
 <dt>Order Number</dt>
 <dd><#INVOICENUM></dd>
 <dt>Customer Number</dt>
 <dd><#CUSTOMERCD></dd>
 <dt>Bill To Address</dt>
 <dd><#FIRSTNAME> <#LASTNAME><br>
 <#ADDRESS1><br>
				<script>
						if("<#ADDRESS2>" != ""){
								document.write('<#ADDRESS2><br>');
						}
				</script>
				<#CITY>, <#STATECD> <#ZIP>
 </dd>
 <dt>Ship To Address:</dt>
 <dd>
  <#SHIPCONTACT><br>
				<#SHIPADDRESS1><br>
				<script>
						if("<#SHIPADDRESS2>" != ""){
								document.write('<#SHIPADDRESS2><br>');
						}
				</script>
				<#SHIPCITY>, <#SHIPSTATECD> <#SHIPZIP></dd>
 <p class="clear"></p>
</dl>


<h4>Invoice Details</h4>
  <table class='gutters'>
  <tr>
        <th>Item</th>
		<th>Item Price</th>
		<th>Quantity</th>
		<th>Subtotal</th>
    </tr>
	<#INVOICEITEMS>
        <tr class="subtotal">
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td class="text">Shipping:</td>
    <td class="price"><#SHIPTOTAL></td>
</tr>
        <tr class="subtotal">
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td class="text">Tax:</td>
    <td class="price"><#TAXTOTAL></td>
</tr>
        <tr class="subtotal">
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td class="text">Balance Due:</td>
    <td class="price"><#BALANCEDUE FORMAT='$0.00'></td>
</tr>
  </table>
<br />

<h4>Payment Options</h4>
<dl class="profile">
    <dt>Check</dt><dd><input type="checkbox" name="checkbox" value="checkbox"></dd>
    <dt>Credit Card</dt><dd><input type="checkbox" name="checkbox" value="checkbox"></dd>
    <p class="clear"></p>
</dl>
<h4>Credit Card Information</h4>
<dl class="profile">
    <dt>Visa</dt><dd><input type="checkbox" name="checkbox" value="checkbox"></dd>
    <dt>Master Card</dt><dd><input type="checkbox" name="checkbox" value="checkbox"></dd>
    <dt>American Express</dt><dd><input type="checkbox" name="checkbox" value="checkbox"></dd>
    <dt>Discover</dt><dd><input type="checkbox" name="checkbox" value="checkbox"></dd>
    <dt>Card Number</dt><dd>__________________________________________</dd>
    <dt>Exp Date</dt><dd>________/_________</dd>
    <dt>Total Payment</dt><dd>$ __________________________________________</dd>
    <dt>Signature</dt><dd>__________________________________________</dd>
    <p class="clear"></p>
</dl>