<h2><#MLGLBL TEXT="Membership Application Confirmation"> </h2>
<p>Dear <#FIRSTNAME> <#LASTNAME>,</p>
<p>Thank you for applying. Below is a summary of your application:</p>

<h4>Basic Information</h4>	
<table>
	<tr>
    <td>Username</td>
    <td><#WEBUSERID></td>
</tr><tr>
	<td>Member ID</td>
    <td><#CUSTOMERCD></td>
	</tr><tr>
	<td>Membership Type</td>
	<td><#CUSTOMERTYPE></td>
	</tr><tr>
    <td>Prefix </td>
    <td><#PREFIX></td>
 </tr><tr>
    <td>First Name</td>
    <td><#FIRSTNAME></td>
 </tr><tr>
    <td>Middle Name</td>
    <td><#MIDDLENAME></td>
 </tr><tr>
    <td>Last Name</td>
    <td><#LASTNAME></td>
 </tr><tr>
    <td>Suffix</td>
    <td><#SUFFIX></td>
 </tr><tr>
    <td>Job Title</td>
    <td><#JOBTITLE></td>
 </tr><tr>
    <td>Organization</td>
    <td><#ORGNAME></td>
	</tr>
</table>
    
<h4>Primary Contact Information</h4>	
<table>
	<tr>
    <td>Address Type</td>
    <td><#ADDRESSTYPE></td>
 </tr><tr>
	
    <td>Mailing Address </td>
    <td><#ADDRESS1></td>
  </tr><tr>
    <td>Mailing Address Cont.</td>
    <td><#ADDRESS2></td>
  </tr><tr>
    <td>City</td>
    <td><#CITY></td>
  </tr><tr>
    <td>State/Province</td>
    <td><#STATECD></td>
  </tr><tr>
    <td>Zip/Postal Code</td>
    <td><#ZIP></td>
  </tr><tr>
    <td>Country</td>
    <td><#COUNTRY></td>
  </tr><tr>
    <td>Work Phone</td>
    <td><#WORKPHONE></td>
 </tr><tr>
    <td>Work Extension</td>
    <td><#WORKPHONEEXT></td>
 </tr><tr>
    <td>Fax</td>
    <td><#FAXPHONE></td>
 </tr><tr>
    <td>Cell Phone</td>
    <td><#MOBILEPHONE></td>
 </tr><tr>
    <td>Home Phone</td>
    <td><#HOMEPHONE></td>
 </tr><tr>
    <td>Email Address</td>
    <td><#EMAIL></td>
 </tr><tr>
    <td>Website</td>
    <td><#WWWADDRESS></td>
	</tr>
</table>
    
  <h4>Alternate Contact Information</h4>	
<table>
	 <tr>
    <td>Alternate Address Type</td>
    <td><#ALTADDRESSTYPE></td>
 </tr><tr>
        <td>Alternate Mailing Address</td>
        <td><#ALTADDRESS1></td>
 </tr><tr>
        <td>Alternate Mailing Address Cont.</td>
        <td><#ALTADDRESS2></td>
    </tr><tr>
        <td>Alternate City</td>
        <td><#ALTCITY></td>
    </tr><tr>
        <td>Alternate State/Province</td>
        <td><#ALTSTATE></td>
    </tr><tr>
        <td>Alternate Zip/Postal Code</td>
        <td><#ALTZIP></td>
    </tr><tr>
        <td>Alternate Country</td>
        <td><#ALTCOUNTRY></td>
     </tr><tr>
        <td>Alternate Email</td>
        <td><#ALTEMAIL></td>
 </tr>
</table>
 <h4>Total Price: <#TOTALAMT FORMAT="$0.00"></h4>