 <h4>Alternate Contact Information</h4>	
 <dl class="profile">
    <dt>Address Type</dt>
    <dd><#ALTADDRESSTYPE></d>

        <dt>Mailing Address</dt>
        <dd><#ALTADDRESS1></dd>

        <dt>Mailing Address Cont.</dt>
        <dd><#ALTADDRESS2></dd>
   
        <dt>City</dt>
        <dd><#ALTCITY></dd>
   
        <dt>State/Province</dt>
        <dd><#ALTSTATE></dd>
   
        <dt>Zip/Postal Code</dt>
        <dd><#ALTZIP></dd>
   
        <dt>Country</dt>
        <dd><#ALTCOUNTRY></dd>
    
        <dt>Email</dt>
        <dd><#ALTEMAIL></dd>

	<p class="clear"></p>
 </dl>