
<legend><#MLGLBL TEXT="Basic Information"></legend>





	<#SECTION NAME="username.htm" COOKIEHIDE=CUSTOMERCD=| PARAMS="CUSTOMERCD">
	<#SECTION NAME="password.htm" COOKIEHIDE=CUSTOMERCD=| PARAMS="CUSTOMERCD">



	<div data-role="fieldcontain">
		<label for="FIRSTNAME"><#MLGLBL TEXT="First Name"><sup class="req_star">*</sup></label>
		<input type="text" name="FIRSTNAME" id="FIRSTNAME" value="<#FIRSTNAME>" class='reqField' required>
	</div>

	<div data-role="fieldcontain">
		<label for="MiddleName"><#MLGLBL TEXT="Middle Initial"></label>
		<input name="MIDDLENAME" id="MiddleName" value="<#MIDDLENAME>" type="text" >
	</div>

	<div data-role="fieldcontain">
		<label for="LastName"><#MLGLBL TEXT="Last Name"><sup class="req_star">*</sup></label>
		<input type="text" name="LASTNAME" id="LastName" value="<#LASTNAME>" class='reqField'  required>
	</div>
	<!--
	<li><label for="SUFFIX"><#MLGLBL TEXT="Suffix"></label>
		<select name='SUFFIX' id='suffixField'>
			<option value=''>Select One...</option>
			<#CBXSUFFIX>
		</select>
		<script>$('#suffixField').val("<#SUFFIX>");</script>
	</li>-->
	<div data-role="fieldcontain">
		<label for="JobTitle"><#MLGLBL TEXT="Title"><sup class="req_star">*</sup></label>
		<input name="JOBTITLE" id="JobTitle" type="text" value="<#JOBTITLE>" class='reqField' required>
	</div>

	<div data-role="fieldcontain">
		<label for="Orgname"><#MLGLBL TEXT="Organization"><sup class="req_star">*</sup></label>
		<input id="Orgname" name="ORGNAME"  value='<#ORGNAME>' class='reqField' type='text' required>

		<label>&nbsp;</label>
		<!-- <a href="#popupBasic" data-rel="popup" data-position-to="window" class="org_link"> Organization Search </a> -->

		<div data-role="popup" id="popupBasic" data-overlay-theme="a" data-theme="a" data-tolerance="15,15" class="ui-content">
			<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
			<iframe id="frame" width="497" height="298" seamless></iframe>
		</div>

		<!-- <div >Please type in at least the first-two letters of the organization and then click on <a href="#popupBasic" data-rel="popup" data-position-to="window" class="org_link"></a></div> -->

    </div>

    <div data-role="fieldcontain">
		<label for="FIRSTNAME"><#MLGLBL TEXT="Profile Picture"></label>
		<input type="file" capture="camera" accept="image/*" id="cameraInput">
	</div>



<script>

	$('.org_link').bind('click', function() {
		var newSearch = document.order.ORGNAME.value;
		var page = '../organizationdll.dll/List?ORGNAME='+newSearch+'~&SORT=ORGNAME&WMT=../main_template_none.htm&WHP=addOrg_header.htm&WBP=addOrg_list.htm&WNR=addOrg_noRec.htm&RANGE=1/25';
		$('#frame').attr('src', page);

		$( "#popupBasic iframe" )
			.attr( "width", 0 )
			.attr( "height", 0 );

		$( "#popupBasic" ).on({
			popupbeforeposition: function() {
				var size = scale( 900, 800, 15, 1 ),
					w = size.width,
					h = size.height;

				$( "#popupBasic iframe" )
					.attr( "width", w )
					.attr( "height", h );
			},
			popupafterclose: function() {
				$( "#popupBasic iframe" )
					.attr( "width", 0 )
					.attr( "height", 0 );
			}
		});
	});



function scale( width, height, padding, border ) {
    var scrWidth = $( window ).width() - 30,
        scrHeight = $( window ).height() - 30,
        ifrPadding = 2 * padding,
        ifrBorder = 2 * border,
        ifrWidth = width + ifrPadding + ifrBorder,
        ifrHeight = height + ifrPadding + ifrBorder,
        h, w;

    if ( ifrWidth < scrWidth && ifrHeight < scrHeight ) {
        w = ifrWidth;
        h = ifrHeight;
    } else if ( ( ifrWidth / scrWidth ) > ( ifrHeight / scrHeight ) ) {
        w = scrWidth;
        h = ( scrWidth / ifrWidth ) * ifrHeight;
    } else {
        h = scrHeight;
        w = ( scrHeight / ifrHeight ) * ifrWidth;
    }

    return {
        'width': w - ( ifrPadding + ifrBorder ),
        'height': h - ( ifrPadding + ifrBorder )
    };
};
</script>