<fieldset>
<legend><#MLGLBL TEXT="Primary Contact Information"></legend>
<ul>
	<li>
		<label for="ADDRESSTYPE"><#MLGLBL TEXT="Address Type"> </label>
		<select name="ADDRESSTYPE">
			<option value=''>Select One...</option>
			<#REFTABLEVALS TABLENAME="ADDRTYPEREF" SCF="ADDRESSTYPE" FLD2="ADDRESSTYPE" FLQ="ONWEBFLG=Y" MLG="Y">
		</select>
	</li> 
    <li>
		<label for="ADDRESS1" class="required"><#MLGLBL TEXT="Mailing Address">*</label>
		<input type="text" name="ADDRESS1" id="MailingAddress" value="<#ADDRESS1>" class='reqField'> 
	</li> 
    <li>
		<label for="ADDRESS2" ><#MLGLBL TEXT="Mailing Address Cont"></label> 
		<input type="text" name="ADDRESS2" value="<#ADDRESS2>"> 
	</li> 
  	<li>
		<label for="CITY" class="required"><#MLGLBL TEXT="City"></label>
		<input type="text" name="CITY" id="City" value="<#CITY>" class='reqField'> 
	</li> 
   	<li>
		<label for="STATECD" class="required"><#MLGLBL TEXT="State/Province*"></label> 
		<select name="STATECD" id="State" onchange="updateTotals();" class='reqField'>
			<option value='' >Select One...</option>
			<#REFTABLEVALS TABLENAME="STATEREF" SORT="STATENAME" SCV="STATECD" MLG="Y">
        </select>
	</li> 
    <li>
		<label for="ZIP" class="required"><#MLGLBL TEXT="Postal Code"></label>
		<input type="text" name="ZIP" id="Zip" value="<#ZIP>" class='reqField'> 
	</li> 
    <li>
		<label for="COUNTRY"><#MLGLBL TEXT="Country"></label>
		<select name="COUNTRY" id="Country" onChange="checkCountryMask(this.value);international();">
			<option value=''>Select One...</option>
			<#REFTABLEVALS TABLENAME="COUNTRYREF" FLD1="COUNTRYNAME" FLD2="COUNTRYNAME" SORT="COUNTRYNAME" SCV="COUNTRY">  
        </select>
        <script>
			//set correct phone mask on load
			checkCountryMask("<#COUNTRY>");
		</script> 
	</li> 
    <li>
		<label for="WORKPHONE" class="required"><#MLGLBL TEXT="Work Phone"></label>
		<input type="text" name="WORKPHONE" id="WorkPhone" value="<#WORKPHONE>" class='reqField' onkeypress="autoformatWithPool(this, event, '(###) ###-####',0)">
	</li> 
    <li>
		<label for="WORKPHONEEXT"><#MLGLBL TEXT="Work Extension"></label> 
		<input type="text" s name="WORKPHONEEXT" value="<#WORKPHONEEXT>"> 
	</li> 
    <li>
		<label for="FAXPHONE"><#MLGLBL TEXT="Fax"> </label>
		<input type="text" name="FAXPHONE" value="<#FAXPHONE>" onkeypress="autoformatWithPool(this, event, '(###) ###-####',0)">		
	</li> 
   	<li>
		<label for="MOBILEPHONE"><#MLGLBL TEXT="Cell Phone"> </label>
		<input name='MOBILEPHONE' value='<#MOBILEPHONE>' onkeypress="autoformatWithPool(this, event, '(###) ###-####',0)"> 
	</li> 
    <li>
		<label for="HOMEPHONE"><#MLGLBL TEXT="Home Phone"></label> 
		<input name='HOMEPHONE' value='<#HOMEPHONE>' onkeypress="autoformatWithPool(this, event, '(###) ###-####',0)"> 
	</li> 
    <li>
		<label for="EMAIL" class="required"><#MLGLBL TEXT="Email Address"></label>
		<input type="text" name="EMAIL" value="<#EMAIL>" id="Email">
	</li> 
</ul>
</fieldset>