<fieldset>
<legend><#MLGLBL TEXT="Basic Information"></legend>
<ul><li>
		<label for="PREFIX"><#MLGLBL TEXT="Prefix"></label>
		<select name="PREFIX" id="Prefix">
			<option value=''>Select One...</option>
			<#REFTABLEVALS TABLENAME="SALUTATIONREF" FLD1="SALUTATION" FLD2="SALUTATION" SCV="PREFIX" MLG="Y">
		</select>
	</li>

	<li>
		<label for="FIRSTNAME" class="required"><#MLGLBL TEXT="First Name"></label>
		<input type="text" name="FIRSTNAME" id="FirstName" value="<#FIRSTNAME>" class='reqField' >
	</li>
	
	<li>
		<label for="MIDDLENAME"><#MLGLBL TEXT="Middle Name"></label>
		<input name="MIDDLENAME" id="MiddleName" value="<#MIDDLENAME>" type="text" >
	</li>
	
	<li>
		<label for="LASTNAME" class="required"><#MLGLBL TEXT="Last Name"></label>
		<input type="text" name="LASTNAME" id="LastName" value="<#LASTNAME>" class='reqField' >
	</li>
	
	<li><label for="SUFFIX"><#MLGLBL TEXT="Suffix"></label>
		<select name='SUFFIX' id='suffixField'>
			<option value=''>Select One...</option>
			<#CBXSUFFIX>
		</select>        
		<script>$('#suffixField').val("<#SUFFIX>");</script>
	</li>
	<li>
		<label for="JOBTITLE" class="required"><#MLGLBL TEXT="Job Title"></label>
		<input name="JOBTITLE" id="JobTitle" type="text" value="<#JOBTITLE>" class='reqField' >
	</li>
	
	<li>
		<label for="ORGNAME" class="required"><#MLGLBL TEXT="Organization"></label>
		<input id="ORGNAME" name="ORGNAME"  value='<#ORGNAME>' class='reqField' size="50" onblur="clearOrg();">
        <input id="ORGCD" name="ORGCD"  value='<#ORGCD>' type="hidden">
		<a href="#" id="orgSearch" title="Organization Searcg Results">Search</a>
<script type="text/javascript">
//opens org search results in a jquery dialog
    
$(document).ready(function () {
            $('a#orgSearch').live('click', function (e) {
                e.preventDefault();
				var newSearch = document.order.ORGNAME.value;
                var page = 'http://cvconnect.ncura.edu/cvweb/cgi-bin/organizationdll.dll/List?ORGNAME='+newSearch+'~&SORT=ORGNAME&WMT=../main_template_none.htm&WHP=addOrg_header.htm&WBP=addOrg_list.htm&WNR=addOrg_noRec.htm&RANGE=1/25'
                var pagetitle = $(this).attr("title");
                return parent.uiPopUp(page);
        });
	});
	
	
function clearOrg(){
    if (document.order.ORGNAME.value == ""){
        document.order.ORGCD.value = "";
        ORGCD = "";
    }
}
</script>

	</li>
    <#SECTION NAME="section_comm.htm">
</ul>
</fieldset>