<li data-role="list-divider" data-theme="a">Contact Information</li>
<li><h2>Mailing Address</h2><p><#ADDRESS1></p></li>
<li><h2>Mailing Address Cont.</h2><p><#ADDRESS2></p></li>
<li><h2>City</h2><p><#CITY></p></li>
<li><h2>State/Province</h2><p><#STATECD></p></li>
<li><h2>Zip/Postal Code</h2><p><#ZIP></p></li>
<li><h2>Country</h2><p><#COUNTRY></p></li>
<li><h2>Phone Number</h2><p><a href="tel:<#HOMEPHONE>"><#HOMEPHONE></a></p></li>
<li><h2>Fax Number</h2><p><a href="tel:<#FAXPHONE>"><#FAXPHONE></a></p></li>
<li><a href="mailto:<#EMAIL>"><h2>Email Address</h2><p><#EMAIL></p></a></li>
<li><h2>Contact Person</h2><p><#CONTACTNAME></p></li>
