<h4>Primary Contact Information</h4>	
<dl class="profile">
    <!--<dt>Address Type</dt>
    <dd><#ADDRESSTYPE></dd>-->
 
	
    <dt>Address Line 1:</dt>
    <dd><#ADDRESS1></dd>
 
    <dt>Address Line 2:</dt>
    <dd><#ADDRESS2></dd>
 
    <dt>City</dt>
    <dd><#CITY></dd>
 
    <dt>State/Province</dt>
    <dd><#STATECD></dd>
 
	 <dt>Country</dt>
    <dd><#COUNTRY></dd>
 
    <dt>Zip/Postal Code</dt>
    <dd><#ZIP></dd>
 
   
 
    <dt>Work Phone</dt>
    <dd><#WORKPHONE></dd>

   <!-- <dt>Work Extension</dt>
    <dd><#WORKPHONEEXT></dd>-->

    <dt>Fax</dt>
    <dd><#FAXPHONE></dd>

   <!-- <dt>Cell Phone</dt>
    <dd><#MOBILEPHONE></dd>

    <dt>Home Phone</dt>
    <dd><#HOMEPHONE></dd>-->

    <dt>Email Address</dt>
    <dd><#EMAIL></dd>

    <!--<dt>Website</dt>
    <dd><#WWWADDRESS></dd>

    <dt><em>Opt-out of Email Mailings?</em></dt>
    <dd><script>if ('<#NOEMAILFLG>' == 'Y'){document.write("Yes");}else{document.write("No")}</script></dd>

    <dt><em>Opt-out of USPS Mailings?</em></dt>
    <dd><script>if ('<#NOMAILFLG>' == 'Y'){document.write("Yes");}else{document.write("No")}</script></dd>-->

	<p class="clear"></p>
 </dl>
    
    
