  <tr>
        <td colspan='2' class='highlight'>Education</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>  
    <tr>
    <td colspan='2'>
    	
        <table class='educationList'>
        	<tr>
            	<th>Degree</th>
                <th>School</th>
                <th>Major</th>
                <th>Grad. Year</th>
          </tr>
		    	<#MULTIEDUCATIONLISTWT ADDNEW=2 USEPATTERN=N SORT=DEGREEYEAR DESC>
    	</table>
     
    </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>