<!doctype html> 
<head>
<title>ClearVantage Web - Baseline</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">

<!--CLEARVANTAGE STYLES-->
<link href="../../CSS/jquery-ui-1.8.19.custom.css" rel="stylesheet" type="text/css">
<link href="../../CSS/reset.css" rel="stylesheet" type="text/css">
<link href="../../CSS/default.css" rel="stylesheet" type="text/css">
<link href="../../CSS/jquery.validity.css" rel="stylesheet" type="text/css">
<link href="../../CSS/jquery.mobile-1.2.0.min.css" rel="stylesheet" type="text/css">

<script>
	//GLOBAL VARIABLES FOR LOGGED IN USER
	var CUSTOMERCD = '<#COOKIE_CUSTOMERCD>';
	var ISMEMBERFLG = '<#COOKIE_ISMEMBERFLG>';
	var MEMBERNAME = '<#COOKIE_MEMBERNAME>';
	var STATUSSTT = '<#COOKIE_STATUSSTT>';
	var CUSTOMERTYPE = '<#COOKIE_CUSTOMERTYPE>';
	var ORGCD = '<#COOKIE_ORGCD>';
	
	var DEBUG = false; //turns on or off debug alerts
</script>
<script type="text/javascript" src="../../js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="../../js/jquery-ui-1.8.16.custom.min.js"></script>


<script type="text/javascript" src="../../js/jquery.cycle.all.min.js"></script>
<script type="text/javascript" src="../../js/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="../../js/jquery.tools.min.js"></script>

<script language="javascript" src="../../js/euclidScripts.js"></script>
<script language="javascript" src="../../js/VerificationLib.js"></script>
<script language="javascript" src="../../js/datetimepicker.js"></script>
<script language="javascript" src="../../js/eventScripts.js"></script>
<script language="javascript" src="../../js/customerScripts.js"></script>
<script language="javascript" src="../../js/duesScripts.js"></script>
<script language="javascript" src="../../js/cartScripts.js"></script>
<script type="text/javascript" src="../../js/overLib.js"></script>
<script type="text/javascript" src="../../js/overLibHideForm.js"></script>
<script type="text/javascript" src="../../js/jQuery.validity.min.js"></script>
<script type="text/javascript" src="../../js/jquery.mobile-1.2.0.min.js"></script>


<script>
//Set Language ID
function setLanguageID(lid) {
 if (lid>0) {
 Set_Cookie( "LID", lid, 1, "/cvweb_baseline_jquery", "testdrive.euclidtechnology.com", false );
 } else {Set_Cookie( "LID", "", 1, "/cvweb_baseline_jquery", "testdrive.euclidtechnology.com", false );
 }
 window.location.reload();
 //alert('<#MLGLBL TEXT="Your language preference has been updated">.'); 
}

//populate cart summary:
function loadHeadBar(){
	var cartHeaderURL = '../msascartdll.dll/showcart?WMT=none&WRP=cartSum.htm';
	//debug(URL);
	new Ajax.Request(cartHeaderURL, {method:'get',
		onSuccess:function(content){
			var response = content.responseText || '';
			//debug(response);
			//debug($('cartHeaderSummary').innerHTML);
			if(response.match('Your cart is empty') || response.match('No Cart Items')){
				var emptyString = 	'<a href="../msascartdll.dll/showcart">0 Item(s) In Cart</a> &nbsp;&nbsp;&nbsp; Total: $0.00&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
				$('cartHeaderSummary').innerHTML = emptyString;
			}else{
				$('cartHeaderSummary').innerHTML = response;
			}
		}
	});
}

</script>

<script type="text/javascript"><!--//--><![CDATA[//><!--
startList = function() {
	if (document.all&&document.getElementById) {
		navRoot = document.getElementById("nav");
		for (i=0; i<navRoot.childNodes.length; i++) {
			node = navRoot.childNodes[i];
			if (node.nodeName=="LI") {
				node.onmouseover=function() {
					this.className+=" over";
				}
				node.onmouseout=function() {
					this.className=this.className.replace(" over", "");
				}
			}
		}
	}
}
window.onload=startList;

//--><!]]></script>


<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="/baseline/CSS/ie6.css" />
<script type='text/javascript' src='/cvbaseline_jquery/js/dd_belated_png.js'></script>
<script>DD_belatedPNG.fix('.png,#numbers a,.first_ul');</script>
<![endif]-->

</head>
<body  >
<div id="container">

<!-- /header -->
<div id="header">
    <!-- logo -->
            <a href="/index.html" title=""><img src="/images/logo.gif" alt="" class="png" /></a><br /><br />
    <!-- /logo -->

    <!-- header right -->
          <#LEFTNAV>  

    <!-- /header right -->
</div>
<div class="content">
<table align="left" width="370px">
<tbody>
<tr>
<td width="10px"> </td>
<td width="70px"><a href="#" onClick="javascript:setLanguageID(1)"><#MLGLBL TEXT="English"></td>
<td width="70px"><a href="#" onClick="javascript:setLanguageID(2)"><#MLGLBL TEXT="French"></td>
<td width="70px"><a href="#" onClick="javascript:setLanguageID(3)"><#MLGLBL TEXT="Spanish"></td>
<td width="70px"><a href="#" onClick="javascript:setLanguageID(4)"><#MLGLBL TEXT="German"></td>
<td width="70px"><a href="#" onClick="javascript:setLanguageID(0)"><#MLGLBL TEXT="Reset"></td>

</tr>
</tbody>
</table>
</div>
<!-- DIV TO SHOW CART SUMMARY, COMMENTED OUT UNTIL PROTOTYPE AND JQUERY CAN WORK TOGETHER-->
<div id="cartHeaderSummary"></div>
<br class="clearfloat" />
<!-- /header -->


<div id="container1">
<div id="container2">
<div id="container3">    
    <div class="page_curv_top png"></div>
    <div class="content_con png">

        <!-- slider area -->	
   
        <!-- / slider -->
        
        <div class="content_con2">
            
            <!-- left side content -->
            <div class="content">
                
                <!-- box -->
                <div class="box single">
                            <!-- box title-->
                            <h3><#MLGLBL TEXT="Welcome to"> <span>ClearVantage Web</span></h3>                           
                            <!-- text-->
                            <p><#CONTENT></p>
                </div>
                <!-- /box -->

                <!-- box -->
                        <div class="box small">
                            <!-- box title-->
                            <h4><a href=""><#MLGLBL TEXT="Services"></a></h4>
                            <!-- text-->
                            <p><#MLGLBL TEXT="Membership"> </p>
                            <p><#MLGLBL TEXT="Event Registration"> </p>
                            <p><#MLGLBL TEXT="Product Purchasing"> </p>
                            <p><#MLGLBL TEXT="Transaction History"></p>
                            <p><#MLGLBL TEXT="Abstract Management"></p>
                            <p><#MLGLBL TEXT="Job Posting"></p>
                            <a href="" class="read_more">....<#MLGLBL TEXT="And More"></a>
                        </div>
                <!-- /box -->

                <!-- box -->
                        <div class="box small">
                            <!-- box title-->
                            <h4><a href=""><#MLGLBL TEXT="About Us"></a></h4>
                            <!-- text-->
                            <!-- <p>ClearVantage Web Services provide the ability to securely pull data out of the ClearVantage repository, create and update entities, and to process complex business transactions. The links below demostrate pulling information from ClearVantage in multiple formats (e.g., a full HTML page, an html chunk, a JSON dataset and an XML packet) and submitting complex transactions for processing. </p>-->
                            <p>ClearVantage Web <#MLGLBL TEXT="is amazing. You can do just about anything with it.">                                    
                            <a href="" class="read_more"><#MLGLBL TEXT="read more"></a>
                        </div>
                <!-- /box -->
                                
            </div>
            <!-- / left side content -->
            
            <!-- side bar -->
            <div class="sidebar"><div class="sidebars1"><div class="sidebars2">
                <!-- box -->
                        <div class="box small">

                            <!-- box title-->
                            <!-- <h4><a href="">Featured Events</a></h4>-->
                            <div id="eventDiv"></div>
</div>
</p>
                                
                                <!-- news line -->
                                <!--Sample Code for event listing-->
                          <!--<span class="news_date">Session Date</span><br />
                                Session Description <a href="" class="read_more">Link to Session Info Page</a><br />
                                <div class="news_line"></div>-->
                                
                                <!-- news line -->
                          <br />
                                <div class="news_line"></div>                      
                        </div>
                <!-- /box -->

                <!-- box -->
                        <!--LOGOS <div class="box small">-->
                            <!-- brand logos-->
                          <!--  <ul class="brands">
                                <li><a href="#" title=""><img src="/images/brand_logo.jpg" alt="" class="preload" /></a></li>
                                <li><a href="#" title=""><img src="/images/brand_logo.jpg" alt="" class="preload" /></a></li>
                                <li><a href="#" title=""><img src="/images/brand_logo.jpg" alt="" class="preload" /></a></li>
                                <li><a href="#" title=""><img src="/images/brand_logo.jpg" alt="" class="preload" /></a></li>                                    
                            </ul>
                        </div>
                        <div class="clear"></div>-->
                <!-- /box -->
                
            </div></div></div>
            <div class="clear"></div>
            <!-- / side bar -->            

        </div>
  
</div>
</div>
</div>                                          
</div>
<!-- footer -->
	<div id="footer">
            <div class="footer_con"> <div class="footer_con2">
                <!-- copyright text -->
                <div class="part1">
                        <#MLGLBL TEXT="Copyright"> &copy; 2011 Euclid Technology, LLC.                </div>
          <!-- social media icons -->
                <div class="part2">
                         <a href="#" title=""><img src="/images/social_media/twitter.png" alt="" /></a>
                         <a href="#" title=""><img src="/images/social_media/facebook.png" alt="" /></a>
                         <a href="#" title=""><img src="/images/social_media/rss.png" alt="" /></a>
                </div>
                <!-- / social media icons -->
                             
                <!-- links -->
                <div class="part3">
                         <a  href="#" title=""><#MLGLBL TEXT="Home"></a> | <a  href="#" title=""><#MLGLBL TEXT="Legal"></a> | <a  href="#" title=""><#MLGLBL TEXT="Privacy"></a> | <a  href="#" title=""><#MLGLBL TEXT="Contact"></a>
                </div>
           </div></div>
	</div>
<!-- /footer -->
</div>

 <script>
var listURL = '../eventsdll.dll/EventList?ONWEBFLG=Y&REGONLINEFLG=Y&SHOWTOP=6&Range=1/10&SESSIONBEGDATE=>getdate()-1&SORT=SESSIONBEGDATE&WHP=featuredEventList_header.htm&WBP=featuredEventList.htm&WNR=noevents.htm&WMT=none';	
new Ajax.Updater('eventDiv', listURL, {method:'get',evalScripts:true,asynchronous:false});
</script>
</body>
</html>
