<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Euclid Technology</title>
		<meta charset="iso-8859-1" >
		<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
		<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
		<link href="../../CSS/reset.css" rel="stylesheet" type="text/css">
		<link href="../../CSS/jquery-ui-1.8.19.custom.css" rel="stylesheet" type="text/css">
		<link href="../../CSS/default.css" rel="stylesheet" type="text/css">
		<link href="../../CSS/jquery.validity.css" rel="stylesheet" type="text/css">
            <script type="text/javascript" src="../../js/jquery-1.8.1.min.js"></script>
		<script type="text/javascript" src="../../js/jquery-ui-1.8.23.custom.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.tablesorter.min.js"></script>
       <script type="text/javascript" src="../../js/jquery.validate.min.js"></script>
		<script language="javascript" src="../../js/euclidScripts.js"></script>
		<script language="javascript" src="../../js/eventScripts.js"></script>
		<script language="javascript" src="../../js/customerScripts.js"></script>
		<script language="javascript" src="../../js/duesScripts.js"></script>
		<script language="javascript" src="../../js/cartScripts.js"></script>
		<script type="text/javascript" src="../../js/jQuery.validity.js"></script>
        <script language="javascript" src="../../js/VerificationLib.js"></script>
		<script> //GLOBAL VARIABLES FOR LOGGED IN USER
			var CUSTOMERCD = '<#COOKIE_CUSTOMERCD>';
			var ISMEMBERFLG = '<#COOKIE_ISMEMBERFLG>';
			var MEMBERNAME = '<#COOKIE_MEMBERNAME>';
			var STATUSSTT = '<#COOKIE_STATUSSTT>';
			var CUSTOMERTYPE = '<#COOKIE_CUSTOMERTYPE>';
			var ORGCD = '<#COOKIE_ORGCD>';
			var DEBUG = false; //turns on or off debug alerts
            var isBillMe = true;
		</script>
		
	</head>
	<body>		    			  
		<div id="container" class="static">
			<div id="content" class="clearfix">
				<div class="article">
					<#CONTENT>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<script>
				$(document).ready(function() 
    { 
        $("#myTable").tablesorter(); 
		PreparePageDisplay();
		
    } 
);
        var oldHeight = 0;
function updateHeight(){
            
        //$("#debugcont").append("<p>" + oldHeight);
        //alert(oldHeight);
        var openerFrame = "";
        $('iframe', window.top.document).each( function() {
            if ((this.id != 'iPopUp') &&(this.id != '')){
                //alert(this.id);
            //    $("#debugcont").append(this.id);
                 openerFrame = this;
                 //alert(this.id);
            }
        });
        
        //the call below is causing an error because getHeight is part of the prototype library
        //var widthStr = $('content').getHeight();
        var divcontent = document.getElementById("content");
        var widthStr = divcontent.offsetHeight;
        
        if(widthStr == '0'){
               widthStr = document.documentElement.clientHeight;
        }
        if((widthStr != '0')  && (widthStr!=oldHeight)){
               var finalWidth = (parseInt(widthStr) + 10) + 'px';
               var thisIframe = window.top.document.getElementsByTagName('iframe')[0];
               thisIframe.style.height = finalWidth;
               //alert($(openerFrame).css('height'));
               $(openerFrame).css( "height",finalWidth );
              
        }
     oldHeight = widthStr;
    setTimeout(function() {updateHeight();}, 1000);
        
        
}
function PreparePageDisplay()
{
    
    updateHeight();
    window.top.scroll(0,0);
}

		</script>
	</body>
</html>