Dear <#FIRSTNAME> <#LASTNAME>:

Your order is complete. <br>
Your Order Number is <#INVOICENUM> and your Customer ID is <#CUSTOMERCD>. You can track your order with the Order Number or Customer ID. You will receive your order in 3-5 business days. <br>

</br>paynum: <#PAYMENTNUM> <br><br>

COMPANY NAME: <#ORGNAME><br>

<table width="697" border="0">
  <tr>
    <td>INDDATA</td>
  </tr>
  <tr>
    <td><#INDDATA></td>
  </tr>
  <tr>
    <td><hr />PRODUCTDATA <hr /></td>
  </tr>
  <tr>
    <td><#PRODUCTDATA></td>
  </tr>
  <tr>
    <td><hr />EVENTDATA<hr /></td>
  </tr>
  <tr>
    <td><#EVENTDATA></td>
  </tr>
  <tr>
    <td><hr />SUBSDATA<hr /></td>
  </tr>
  <tr>
    <td><#SUBSDATA></td>
  </tr>
  <tr>
    <td><hr />SHIPDATA<hr /></td>
  </tr>
  <tr>
    <td><#SHIPDATA></td>
  </tr>
  <tr>
    <td><hr />PKGDATA<hr /></td>
  </tr>
  <tr>
    <td><#PKGDATA></td>
  </tr>
  <tr>
    <td><hr />CERTDATA<hr /></td>
  </tr>
  <tr>
    <td><#CERTDATA></td>
  </tr>
  <tr>
    <td><hr />MCERTDATA<hr /></td>
  </tr>
  <tr>
    <td><#MCERTDATA></td>
  </tr>
  <tr>
    <td><hr />AWARDSDATA<hr /></td>
  </tr>
  <tr>
    <td><#AWARDSDATA></td>
  </tr>
  <tr>
    <td><hr />JOBSDATA<hr /></td>
  </tr>
  <tr>
    <td><#JOBSDATA></td>
  </tr>
  <tr>
    <td><hr />PKGITEMDATA<hr /></td>
  </tr>
  <tr>
    <td><#PKGITEMDATA></td>
  </tr>
  <tr>
    <td><hr />FILEUPLOADDATA<hr /></td>
  </tr>
  <tr>
    <td><#FILEUPLOADDATA></td>
  </tr>
</table>

