<h3>Password Update</h3>
<p>Thank you for contacting Euclid Technology. We received your request to update your password .</p>
<p>Please go to <a href="http://tl2008b/cvbase_css/cgi-bin/ReturnPassword.dll/pwdForm?ONETIMEPWD=<#ONETIMEPWD>">http://tl2008b/cvbase_css/cgi-bin/ReturnPassword.dll/pwdForm?ONETIMEPWD=<#ONETIMEPWD></a> to complete the process. If the link is not highlighted please copy and paste the following URL into your web browser, http://tl2008b/cvbase_css/cgi-bin/ReturnPassword.dll/pwdForm?ONETIMEPWD=<#ONETIMEPWD>.</p>
<p>- Member Services</p>
