<table border="1" width="770" cellspacing="0" cellpadding="0" bordercolor="#F7F2DB" class="body" height="32">
  <tr>
    <td width="300" colspan="3" height="9" bgcolor="#CECF9C">
&nbsp;Specialty: <#CERTIFICATIONCD></td>
    <td width="470" colspan="5" height="9" bgcolor="#CECF9C"> <a href="../../cgi-bin/eventsdll.dll/EventList?programaltcd=<#PROGRAMALTCD>&certificationcd=<#CERTIFICATIONCD>" class="body"> View Schedule</a></td>
  </tr>
</table>
<table border="0" width="770" cellspacing="0" cellpadding="0" class="body" height="22">
  <tr>
    <td width="30" bgcolor="#FFFFFF" height="1"></td>
    <td width="70" bgcolor="#F7F2DB" height="1">Date</td>
    <td width="100" bgcolor="#F7F2DB" height="1">Specialty</td>
    <td width="100" bgcolor="#F7F2DB" height="1">Course Title</td>
    <td width="100" bgcolor="#F7F2DB" height="1">Sponsor</td>
    <td width="100" bgcolor="#F7F2DB" height="1">Location</td>
    <td width="100" bgcolor="#F7F2DB" height="1">Status</td>
    <td width="100" bgcolor="#F7F2DB" height="1">Core</td>
    <td width="70" bgcolor="#F7F2DB" height="1">Non Core</td>
  </tr>
<#CONTENT>
</table>
