<h2>Certification Summary</h2>
<table class="nobg">
    <tr>
        <th>Certification</th>
        <th>Updated On</th>
        <th>Status</th>
    </tr>
    <tr>
        <td><#CERTIFICATIONTITLE></td>
        <td><#UPDATETMS></td>
        <td id="cstatus"></td>
    </tr>
</table>

<p>&nbsp;</p>
<div id='routingPlan'></div>

<script>
    $(document).ready(function() {
        var cStatus = "<#STATUSSTT ALIAS=CM>";
            cStatus = cStatus.replace("A_","")
            $('#cstatus').html(cStatus); 
var listURL = "../actionitemsdll.dll/list?membercd=<#CUSTOMERCD>&listname=~MISSINGITEMS&LISTITEMNUM=<#LISTITEMNUM>&WMT=none&WHP=listItem.htm&WBP=listItemNum.htm&WNR=noListItemNum.htm";
$.ajax({url:listURL, type:"get",
		success:function(content){
            
            $('#routingPlan').html(content); 
		}
	});
    });
</script>
<!--<h4>Credits Earned Transcript</h4>
<form name="abc" method="POST" action="../certificationdll.dll/certlist" id="dateFilter">
<p><strong>Display Credits 
			From <input name="fromDate" id="fromDate" size="20" class="datePicker"> To <input name="toDate" id="toDate" size="20" class="datePicker"> <input name="buttonB" type="button" onClick="formValidate()" value="Display"></strong>
		</p> 
            
	    <input type="hidden" name="certificationdate" value="">
	    <input type="hidden" name="ONWEBFLG" value="Y">
  	    <input type="hidden" name="RANGE" value="1/25">
        <input type="hidden" name="c.certificationcd" value="A-STEP~">
        <input type="hidden" name="WHP" value="CertListHeader_RU.htm">
        <input type="hidden" name="WBP" value="CertList_RU.htm">
        <input type="hidden" name="WMT" value="none">
        <input type="hidden" name="CUSTOMERCD" value="<#COOKIE_CUSTOMERCD>">
		</form>
<div id="creditHours">
<#INCLUDE DLL="certificationdll.dll" ACT="certlist" PARAMS="customercd={CUSTOMERCD},certificationdate=BETWEEN {STARTDATE} AND {ENDDATE},c.certificationcd=A-STEP~,WHP=CertListHeader_RU.htm,WBP=CertList_RU.htm,SORT=CERTIFICATIONDATE DESC" SHOWURL="N">
</div>-->
<div class="buttons">
   <!--<a href="#" class="button" onClick="$('#creditHours').printElement({printMode:'popup',overrideElementCSS:[
		'../../css/default.css',
		{ href:'../../css/default.css',media:'print'}]});">Print This Page</a>  &nbsp;&nbsp; <a href="../certificationdll.dll/CertInfo?TRANSACTIONNUM=-1&CUSTOMERCD=<#CUSTOMERCD>&WRP=CertUpdate.htm" class="button">Add Education Credits</a> &nbsp;&nbsp;--> <a class="button" href="../certificationdll.dll/MasterInfo?wrp=certApps.htm">Back to My Certifications</a> 
</div>