<h2>Certification Enrollment Confirmation</h2>
<p>Please print this page and return along with your payment to complete your certification enrollment.</p>
<SCRIPT> 
if (window.print) { document.write('<input type="button" name="print" class="submit" value="Print This Page" onClick="javascript:window.print()">'); }</script>
<dl class="profile">
    <dt>Certification</dt><dd><#CERTIFICATION_DES></dd>
    <dt>Status</dt><dd><#STATUSSTT></dd>
    <dt>Member ID</dt><dd><#CUSTOMERCD></dd>
    <dt>Invoice Number</dt><dd><#INVOICENUM></dd>
    <dt>Balance Due</dt><dd><#TOTALAMT></dd>
</dl>