<body>
<table border="0" cellpadding="0" cellspacing="0" class="body">
	<tr>
		<td height="28" colspan="2">
		<p style="margin-top: 0; margin-bottom: 0">&nbsp;</td>
		<td width="4" height="84" rowspan="9" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="120" height="28">Certification</td>
		<td width="248" height="28">
		  <#CERTIFICATIONCD></td>
	</tr>
	<tr>
		<td width="120" height="28">statusstt</td>
		<td width="248" height="28">
		  <STATUSSTT></td>
	</tr>
	<tr>
		<td width="120" height="28">
		<p style="margin-top: 0; margin-bottom: 0">customercd</td>
		<td width="248" height="28">
		  <p style="margin-top: 0; margin-bottom: 0">
		  &nbsp;<#CUSTOMERCD></td>
	</tr>
	<tr>
	  <td height="28">
		&nbsp;</td>
	  <td height="28">
		&nbsp;</td>
  </tr>
	<tr>
	  <td height="28">
		&nbsp;</td>
	  <td height="28">
		&nbsp;</td>
  </tr>
	<tr>
	  <td height="28">
		&nbsp;</td>
	  <td height="28">
		&nbsp;</td>
  </tr>
	<tr>
	  <td height="28">
		total amt</td>
	  <td height="28">
		<#TOTALAMT></td>
  </tr>
	<tr>
	  <td height="28">
		<p style="margin-top: 0; margin-bottom: 0">invoicenum</td>
	  <td height="28">
		<p style="margin-top: 0; margin-bottom: 0"><#INVOICENUM></td>
  </tr>
	<tr>
		<td height="28" colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td height="86" colspan="3" valign="top">
		<p style="margin-top: 0; margin-bottom: 0">&nbsp;</td>
	</tr>
	<tr>
		<td height="86" colspan="3" valign="top">&nbsp;</td>
	</tr>
</table>
</body>