<h2>Certification Enrollment Confirmation</h2>
<table>
    <tr>
        <td>Certification</td>
        <td><#RTDcertificationrefFLD2CERTIFICATION_DES></td>
    </tr>
    <tr>
        <td>Status</td>
        <td><#RTDCERTSTATUSREFSCFSTATUSSTT></td>
    </tr>
    <tr>
        <td>Member ID</td>
        <td><#CUSTOMERCD></td>
    </tr>
    <tr>
        <td>Invoice Number</td>
        <td><#INVOICENUM></td>
    </tr>
    <tr>
        <td>Total Paid</td>
        <td><#TOTALAMT></td>
    </tr>
</table>