<h2>Functions Successfully Added </h2>
<table>
    <tr>
        <td>Confirmation ID</td>
        <td><#ASSIGNEDSESSIONCD></td>
    </tr>
    <tr>
        <td>Customer ID</td>
        <td><#CUSTOMERCD></td>
    </tr>
     <tr>
        <td>Customer Name</td>
        <td><#CUSTOMERNAME></td>
    </tr> <tr>
        <td>Event Name</td>
        <td><#SESSIONNAME></td>
    </tr> <tr>
        <td>Event ID</td>
        <td><#SESSIONALTCD></td>
    </tr>
</table>
<h4>Location Detail</h4>
<table>
    <tr>
       <td>Location Name</td>
        <td><#LOCATIONNAME></td>
    </tr>
    <tr>
       <td>City</td>
        <td><#LOCATIONCITY></td>
    </tr>
    <tr>
       <td>State</td>
        <td><#LOCATIONSTATECD></td>
    </tr>
</table>
<h4>Functions Added</h4>
<table class="gutters">
          <tr>
            <th>Function Name</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
      <#FUNCTIONS>
</table>
<h4>Payment Details</h4>
<table>
    <tr>
       <td>Registration Total</td>
        <td><#TOTALAMT FORMAT="$0.00"></td>
    </tr>
    <tr>
       <td>Amount Charge to Credit Card</td>
        <td><#ADDEDAMT FORMAT="$0.00"></td>
    </tr>
</table>