<div class="formIntro">
		  <p><strong>PLEASE PRINT THIS FORM AS A CONFIRMATION LETTER!</strong></p>
                <p>You have have successfully registered for <#SESSIONNAME>. Thank you for registering online and we look forward to seeing you in <#LOCATIONCITY>, <#LOCATIONSTATECD>.</p>
</div>
<h4>Time &amp; Date Information</h4>
<dl class="profile">
		  <dt>Start Date</dt>
		  <dd><#SESSIONENDDATE></dd>
		  <dt>End Date</dt>
		  <dd><#SESSIONSTARTTM></dd>
		  <dt>Start Time</dt>
		  <dd><#SESSIONBEGDATE></dd>
		  <p class="clear"></p>
</dl>
<h4>Location Information</h4>
<dl class="profile">
		  <dt>Venue Name</dt>
		  <dd><#LOCATIONNAME></dd>
		  <dt>Venue Address</dt>
		  <dd><#ADDRESS1> <#ADDRESS2> <br>
<#LOCATIONCITY>, <#LOCATIONSTATECD> <#ZIP></dd>
		  <dt>Venue Phone Number</dt>
		  <dd><#LOCATIONPHONE></dd>
		  <p class="clear">Please Call <#LOCATIONNAME> for room rates.</p>
</dl>