<h1>Event Registration (Confirmation)</h1>
<p><a href="javascript:printpage()"><img src="../../images/printericon.jpg" alt="Print Button" width="18" height="16" border="0" /></a></p>
<h3>Total Amount Paid: $<#TOTALAMOUNT><br />
<a style="color:#FF0000;">Total Amount Due: $<#BALANCEDUE></a></h3>
<h3>Registration Summary</h3>

<table>
  <tr>
    <td><strong>Seminar</strong></td>
    <td><#SESSIONNAME></td>
  </tr>
  <tr>
    <td><strong>Location</strong></td>
    <td><#LOCATIONCITY>, <#LOCATIONSTATECD></td>
  </tr>
  <tr>
    <td><strong>Date</strong></td>
    <td><#SESSIONBEGDATE> - <#SESSIONENDDATE></td>
  </tr>
  <tr>
    <td><strong>Name</strong></td>
    <td><#FIRSTNAME> <#LASTNAME> </td>
  </tr>
  <tr>
    <td><strong>Company/Organization&nbsp;</strong>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><#ORGNAME></td>
  </tr>
  <tr>
    <td><strong>Address</strong></td>
    <td><#ADDRESS1><br /><#ADDRESS2><br /><#CITY>, <#STATECD> <#ZIP></td>
  </tr>
  <tr>
    <td><strong>Work Phone</strong></td>
    <td><#WORKPHONE></td>
  </tr>
  <tr>
    <td><strong>Email</strong></td>
    <td><#EMAIL></td>
  </tr>
</table>
<h3>Invoice Summary</h3>
<table>  
  <tr>
    <td><#LISTCART></td>
  </tr>
</table>