<h2>Package Registration (Confirmation)</h2>
<p><a href="javascript:printpage()" class="button">Print this Page</a></p>
<h4>Registration Summary</h4>
<dl class="profile">
    <dt>Name</dt><dd><#FIRSTNAME> <#LASTNAME></dd>
    <dt>Organization</dt><dd><#ORGNAME></dd>
    <dt>Address</dt><dd><#ADDRESS1><br><#ADDRESS2 rightlabel="<br>"><#CITY>, <#STATECD> <#ZIP></dd>
    <dt>Work Phone</dt><dd><#WORKPHONE></dd>
    <dt>Email</dt><dd><#EMAIL></dd>
    <dt>Total Amount Paid</dt><dd><#TOTALAMOUNT></dd>
    <dt>Total Amount Due</dt><dd><#BALANCEDUE></dd>
    <p class="clear"></p>
</dl>
<h4>Package Items</h4>
<table class="gutters">
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <#LISTCART>
</table>




  

  
