

<h2><#SESSIONNAME></h2>
<form name="order" id="order" method="GET" action="../../cgi-bin/Registerdll.dll/Post">


<div class='totalContainer'>
	<fieldset>
		<legend>Registration Review and Payment</legend>
		<div class='cartTotals'>
			<table class="gutters">
				<tr>
					<th>Type</th>
					<th>Name</th>
					<th>Price</th>
				</tr>
				<#LISTCART>
				<tr class="subtotal">
					<td> </td>
					<td>Total Event Cost:</td>
					<td><#LISTTOTAL></td>
				</tr>
			</table>
		</div>
	</fieldset>

   		<div class="buttons">
        <input type="button" value="Add to Cart" onClick='eventReg_addToCart(document.order)';>
        <input type="button" data-theme="g" value="Pay Now" onClick='$("#cartPayment").show(); $("#selectPayment").hide();'>
        </div>


    <div class='cartPayment' id='cartPayment' style="display:none;">
<#INCLUDE DLL="utilities.dll" ACT="nextForm" WRP="INCLUDE_payment.htm"  PARAMS="CUSTOMERCD">

<div class="buttons">
	<input type="submit" id='submitButton' value="Submit Registration" />
</div>
	</div>
    <div class="validity-summary-container missing">
        <p>Required fields are missing. Please them in before continuing:</p>
        <ul></ul>
    </div>
   <input type="hidden" name="CUSTOMERCD" value="<#CUSTOMERCD>">

    <input type="hidden" name="WEBUSERID" value="<#WEBUSERID>">
     <input type="hidden" name="WEBUSERPASSWORD" value="<#WEBUSERPASSWORD>">
   <input type="hidden" name="PREFIX" value="<#PREFIX>">
   <input type="hidden" name="FIRSTNAME" value="<#FIRSTNAME>">
   <input type="hidden" name="MIDDLEINITIAL" value="<#MIDDLEINITIAL>">
   <input type="hidden" name="LASTNAME" value="<#LASTNAME>">
   <input type="hidden" name="SUFFIX" value="<#SUFFIX>">
   <input type="hidden" name="ADDRESS1" value="<#ADDRESS1>">
   <input type="hidden" name="ADDRESS2" value="<#ADDRESS2>">
   <input type="hidden" name="CITY" value="<#CITY>">
   <input type="hidden" name="STATECD" value="<#STATECD>">
   <input type="hidden" name="ZIP" value="<#ZIP>">
   <input type="hidden" name="COUNTRY" value="<#COUNTRY>">
   <input type="hidden" name="HOMEPHONE" value="<#HOMEPHONE>">
    <input type="hidden" name="MOBILEPHONE" value="<#MOBILEPHONE>">
   <input type="hidden" name="FAXPHONE" value="<#FAXPHONE>">
   <input type="hidden" name="EMAIL" value="<#EMAIL>">
   <input type="hidden" name="NOEMAILFLG" value="<#NOEMAILFLG>">
   <input type="hidden" name="NOMAILFLG" value="<#NOMAILFLG>">

	<!-- PAYMENT INFORMATION -->
   <input type="hidden" name="SHIPTOCD" value="O">
   <input type="hidden" name="PAYMENTREFEXPDATE" value="">
   <input type="hidden" name="UPDATEUSERCD" value="N">
   <input type="hidden" name="ENTERUSERCD" value="WEBUSER">
   <input type="hidden" name="SENDEMAIL" value="Y">
   <input type="hidden" name="EMAILSUBJECT" value="Event Registration Confirmation- <#FIRSTNAME> <#LASTNAME>">
   <input type="hidden" name="EMAILFROMADDRESS" value="info@domain.org">
   <input type="hidden" name="EMAILRESPONSEFORMAT" value="HTML">
   <input type="hidden" name="EMAILCCADDRESS" value="">

	<!-- REGISTRAION INFO -->
   <input type="hidden" name="FPRICEAMT" value="<#FPRICEAMT>">
   <input type="hidden" name="FPRICETYPESTT" value="<#FPRICETYPESTT>">
   <input type="hidden" name="PAYEETYPECD" value="<#PAYEETYPECD>">
   <input type="hidden" name="FUNCTIONS" value="<#FUNCTIONS>">
   <input type="hidden" name="FUNCTIONSQTY" value="<#FUNCTIONSQTY>">
   <input type="hidden" name="SESSIONALTCD" value="<#SESSIONALTCD>">
   <input type="hidden" name="REGSTATUSCD" value="1">
   <input type="hidden" name="PRICETYPESTT" value="<#PRICETYPESTT>">
   <input type="hidden" name="ISSUEBILLFLG" value="N">
   <input type="hidden" name="SESSIONNAME" value="<#SESSIONNAME>">
   <!--<input type="hidden" name="LISTCART" value="<#LISTCART>">-->
   <input type="hidden" name="LISTTOTAL" value="<#LISTTOTAL>">
   <input type="hidden" name="CHECKDUPLICATE" value="N">
   <input type="hidden" name="PROCESSONLINECREDIT" value="N">
   <input type="hidden" name="FCOMMENTS" value="<#FCOMMENTS>" id="FCOMMENTS">
</form>
<script>
$(function() {
        $("#order").validity(function() {
            $(".reqField").require("#{field} is required.");

		});
    });
</script>