<html>
<head>
</head>
<body topmargin="0" >

<div align="left">
  <table border="0" cellpadding="0" cellspacing="0" width="560" height="832" class="body">
    <tr>
    <td>Action Item <a href="http://www.euclidtechnology.com/support/ActionItem.aspx?cv_ActionItem=<#LISTITEMNUM>"><#LISTITEMNUM></a> has been updated. Please see detail below.</td>
    </tr>
    <tr>
      <td width="501" height="21">
      </td>
    </tr>
    <tr>
    <td width="501" height="363" valign="top" align="left"><!------------------------------ start of body -------------------------------------->
          <table border="0" cellpadding="0" cellspacing="0" width="479" height="337" class="body">
            <tr>
              <td width="598" height="26" colspan="4" bgcolor="#F7FFEF">&nbsp;</td>
            </tr>
            <tr>
              <td height="1" bgcolor="#DEDFE7"><strong>Reference ID: </strong></td>
              <td  bgcolor="#DEDFE7"><#LISTITEMNUM></td>
              <td height="1" bgcolor="#DEDFE7"><strong>Status:</strong></td>
              <td  bgcolor="#DEDFE7"><#ACTIONSTT></td>
            </tr>
            <tr>
              <td height="1" bgcolor="#DEDFE7"><strong>Member Name: </strong></td>
              <td bgcolor="#DEDFE7"><#FULLNAME></td>
              <td height="1" bgcolor="#DEDFE7"><strong>Updated:</strong> </td>
              <td bgcolor="#DEDFE7"><#UPDATETMS></td>
            </tr>
            <tr>
              <td height="1" bgcolor="#DEDFE7"><strong>Priority:&nbsp;</strong></td>
              <td height="1" bgcolor="#DEDFE7"><#ACTIONPRIORITY></td>
              <td height="1" bgcolor="#DEDFE7"><b>By:</b></td>
              <td bgcolor="#DEDFE7"><#UPDATEUSERCD></td>
            </tr>
            <tr>
              <td height="1" colspan="4" bgcolor="#DEDFE7">&nbsp;</td>
            </tr>
            <tr>
              <td bgcolor="#DEDFE7"><strong>Action List:</strong></td>
              <td bgcolor="#DEDFE7"><#LISTNAME></td>
              <td bgcolor="#DEDFE7"><strong>Assigned to:</strong></td>
              <td bgcolor="#DEDFE7"><#ACTIONASSIGNEDTOCD></td>
            </tr>
            <tr>
              <td bgcolor="#DEDFE7"><strong>Action:</strong></td>
              <td bgcolor="#DEDFE7"><#ACTIONTYPE></td>
              <td bgcolor="#DEDFE7"><strong>Assigned by:</strong></td>
              <td bgcolor="#DEDFE7"><#ACTIONASSIGNEDBYCD></td>
            </tr>
            <tr>
              <td bgcolor="#DEDFE7"><b>Assigned Date:</b></td>
              <td bgcolor="#DEDFE7"><#ACTIONASSIGNEDDATE></td>
              <td bgcolor="#DEDFE7"><b>Due Date:</b></td>
              <td bgcolor="#DEDFE7"><#ACTIONDATE></td>
            </tr>
            <tr>
              <td colspan="4" bgcolor="#F7FFEF">&nbsp;</td>
            </tr>
            <tr>
            	<td colspan="4">
                <table id="addSection" style="display:none; width:100%">
        
                    <tr>
                      <td height="35" bgcolor="#F7FFEF" colspan="4" align="center"><strong>Add Message</strong></td>
                    </tr>
                    <tr>
                </table>
               	</td>
           </tr>
           

            <tr>
              <td width="598" height="35" bgcolor="#F7FFEF" colspan="4"><p align="left"><strong>Action Item Message Log</strong></p></td>
            </tr>
            <tr>
              <td width="598" height="35" bgcolor="#F7FFEF" valign="top" colspan="4" ><#ACTIONNOTE></td>
            </tr>
        <!------------------------------ end of body -------------------------------------->
  </table>

</body>
</html>
