<p>
<h1>Support Request Submitted </h1>
<p>Dear <#FULLNAME>,</p>

 <p>We have received your support request and have assigned Action Item <#LISTITEMNUM>.&nbsp;
 Your technical support representative will give you an update regarding the
 status of your request within the next 72 hours.  If this is a high priority request, your representative will contact you within 24 hours.</p>
<p>Thank You,&nbsp;&nbsp;<br>
Euclid Technology Customer Support Team</p>
 <p>&nbsp;</p>
 <p>Time/Date Submitted: <#ACTIONASSIGNEDDATE></p>


