<p>
<h1>Support Request Submitted </h1></p>
<p>Dear <#FULLNAME>,</p>

 <p>Thank you for your request. For tracking purposes, please make sure you make a note of your Support Request ID Number: <#LISTITEMNUM>.
 <p>You will receive an email shortly  to confirm receipt of your request. </p>

 <p>You may return to your service home page by clicking <a href="/Support/ActionItem.aspx?cv_ActionItem=<#LISTITEMNUM>" >here</a>.</p>
 <p>To add another action item, please click <a href="../memberdll.dll/Info?wrp=customerSupport.htm">here</a></p>

