<h4>Basic Information</h4>
<dl class="profile">
	<dt>Username</dt>
	<dd><#WEBUSERID></dd>
	<dt>Password</dt>
	<dd>
		<script language="javascript"> 
 			 if ("<#WEBUSERPASSWORD>"!=""){
   				 document.write("<strong>************</strong>");
 			 }else{
				 document.write("");
			 }
		</script>
	</dd>
	<dt>Prefix</dt>
	<dd><#Prefix></dd>
	<dt>First Name</dt>
	<dd><#FIRSTNAME></dd>
	<dt>Middle Name</dt>
	<dd><#MIDDLENAME></dd>
	<dt>Last Name</dt>
	<dd><#LASTNAME></dd>
	<dt>Suffix</dt>
	<dd><#SUFFIX></dd>
	<dt>Job Title</dt>
	<dd><#JOBTITLE></dd>
	<dt>Organization</dt>
	<dd><#ORGNAME></dd>
	<p class="clear"></p>
</dl>
