<h3>New Attendee Created </h3>
<div class="formIntro">
<p>This profile has been created with the following information. </p>
</div>
    <#SECTION NAME="basicInfo_confirm.htm">
    <#SECTION NAME="primContact_confirm.htm"> 

<div class="buttons">
<input name="Button" type="button" onClick="window.location.href='../memberdll.dll/List?EMAIL=<#EMAIL>&SORT=LASTNAME&RANGE=1/100&WHP=guestSearch_header.htm&WBP=guestSearch_list.htm&WMT=../main_template_none.htm&WNR=guestSearch_norec.htm'" value="Continue Registration"></div>
