<tr>
  <td><a href=# name="<#CUSTOMERCD>" onclick='addGuest(this.name, "<#LASTNAME>", "<#FIRSTNAME>")'>Add</a></td>
  <td><#FIRSTNAME> <#LASTNAME></td>
  <td><a href='mailto:<#EMAIL>'><#EMAIL></a></td>
  <td><#ORGNAME>

  <input type="hidden" name="WEBUSERID" value="<#WEBUSERID>">
  <input type="hidden" name="FIRSTNAME" value="<#FIRSTNAME>">
  <input type="hidden" name="LASTNAME" value="<#LASTNAME>">
  <input type="hidden" name="CUSTOMERTYPE" value="<#CUSTOMERTYPE>">
  <input type="hidden" name="JOBTITLE" value="<#JOBTITLE>">
  <input type="hidden" name="WORKPHONE" value="<#WORKPHONE>">
  <input type="hidden" name="WORKPHONEEXT" value="<#WORKPHONEEXT>">
  <input type="hidden" name="EMAIL" value="<#EMAIL>">
  <input type="hidden" name="FAXPHONE" value="<#FAXPHONE>">
  <input type="hidden" name="ORGNAME" value="<#ORGNAME>">
  <input type="hidden" name="ADDRESS1" value="<#ADDRESS1>">
  <input type="hidden" name="ADDRESS2" value="<#ADDRESS2>">
  <input type="hidden" name="ZIP" value="<#ZIP>">
  <input type="hidden" name="SPOUSEFNAME" value="<#SPOUSEFNAME>">
  <input type="hidden" name="SPOUSELNAME" value="<#SPOUSELNAME>">
  <div id="divConfirm_<#CUSTOMERCD>" style="display: none">
		<#FIRSTNAME> <#LASTNAME> has already registered for this event.
	</div>
</td>
</tr>
