<h2><#MLGLBL TEXT="Membership Application Confirmation"> </h2>
<div class="formIntro">
    <p>Your membership items have been added to the shopping cart, and your user profile has been updated with the below information. </p>
    <p>Note: You will not be a full member until you have paid for your shopping cart items.</p>
    <ul>
        <li><a href="../msascartdll.dll/showcart">View Cart</a></li>
        <li><a href="../msascartdll.dll/productlist?onwebflg=Y&range=1/25&instockstt=Y&COLUMNS=2">Shop for Products</a></li>
    </ul>
</div>

<#SECTION NAME="basicInfo_confirm.htm">

<#SECTION NAME="primContact_confirm.htm">

<!--<zzzSECTION NAME="altContact_confirm.htm">-->