<div class="productListItem">
	<div align="center">
    <a href="#" onClick="createPOST('../msascartdll.dll/productInfo',{'PRODUCTCD':'<#PRODUCTCD>'} ); return false;">
    <img  width="110px" src='../cvImage.dll/view?ENTITY=PROD&ENTITYCD=<#PRODUCTCD>' ></a>
    </div>
    <br />
   
    <a href="#" onClick="createPOST('../msascartdll.dll/productInfo',{'PRODUCTCD':'<#PRODUCTCD>'} ); return false;"><#PRODUCTNAME></a>
    <div style="font-weight:bold;color:#8B4513;text-align:center;"><#UNITPRICE FORMAT="$0.00"></div>

</div>

